/* Skin: Slate Gray */
a {
  color: #708090;
}
a:hover, a:focus {
  color: #5e6c79;
}

.btn-primary {
  background-color: #708090;
  border-color: #697888;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active,
.btn-primary .open > .dropdown-toggle.btn-primary {
  background-color: #697888;
  border-color: #5e6c79;
}

.navbar-toggle {
  background-color: #708090;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #5e6c79;
}

.navbar-nav .dropdown-menu {
  border-top: 2px solid #5a6673;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #5e6c79;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #5e6c79;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #5e6c79;
}

@media screen and (max-width: 992px) {
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus,
  .navbar-default .navbar-nav > .active.open > a, .navbar-default .navbar-nav > .active.open > a:hover, .navbar-default .navbar-nav > .active.open > a:focus {
    background-color: #708090;
    color: #fff;
  }
}
.hero-unit-animated .hero-button {
  background-color: #708090;
}
.hero-unit-animated .hero-button:hover, .hero-unit-animated .hero-button:focus {
  background-color: #697888;
}

.hero-unit-slider .hero-button:hover, .hero-unit-slider .hero-button:focus {
  background: #708090;
  color: #fff;
}

.boxed-content > i {
  color: #708090;
}
.boxed-content.left-boxed-icon i {
  background: #708090;
}

.section-heading:after {
  color: #708090;
}

.full-width-section {
  background-color: #708090;
}

/* latest news */
.news-item a:hover, .news-item a:focus {
  color: #708090;
}

/* blog list */
.blog .entry-title a:hover, .blog .entry-title a:focus {
  color: #708090;
}
.blog .meta-line a:hover, .blog .meta-line a:focus {
  color: #708090;
}

.tag-list li a {
  background-color: #708090;
}

.category-list li a:hover, .category-list li a:focus {
  color: #708090;
}

.panel-group-faq.top-faq .panel-heading .number {
  background-color: #708090;
}

.team-member .team-name {
  background-color: #708090;
}

.portfolio-item .overlay {
  background-color: rgba(112, 128, 144, 0.9);
}
.portfolio-item .btn {
  background-color: #798897;
  border: 1px solid #657382;
}
.portfolio-item .btn:hover, .portfolio-item .btn:focus {
  background-color: #708090;
}

.portfolio-item-filters li a:hover, .portfolio-item-filters li a:focus {
  color: #708090;
}
.portfolio-item-filters li a.active {
  background-color: #708090;
}

/* tabs */
@media screen and (max-width: 480px) {
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #708090;
  }
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #708090;
}

.custom-tabs-line.tabs-line-top .active a {
  border-top-color: #708090;
}
.custom-tabs-line.tabs-line-bottom .active a {
  border-bottom: 1px solid #708090;
}

.pagination > li > a,
.pagination > li > span {
  color: #708090;
}
.pagination > li > a:hover, .pagination > li > span:hover,
.pagination > li > a:focus, .pagination > li > span:focus {
  background-color: #8794a2;
  border-color: #708090;
  color: #fff;
}
.pagination > .active > a, .pagination > .active > span {
  background-color: #708090;
  border-color: #657382;
}

.pagination.borderless > li.active > a,
.pagination.borderless > li.active > span {
  background-color: #708090;
}
.pagination.borderless > li.active > a:hover, .pagination.borderless > li.active > a:focus,
.pagination.borderless > li.active > span:hover,
.pagination.borderless > li.active > span:focus {
  background-color: #708090;
}

.pager li > a:hover, .pager li > a:focus {
  background-color: #708090;
  border-color: #697888;
}

.slick-next,
.slick-prev {
  background-color: #708090;
}
.slick-next:hover, .slick-next:focus,
.slick-prev:hover,
.slick-prev:focus {
  background-color: #657382;
}

.newsletter-form .input-group-lg > .input-group-btn > .btn {
  background-color: #708090;
}
.newsletter-form .input-group-lg > .input-group-btn > .btn:hover, .newsletter-form .input-group-lg > .input-group-btn > .btn:focus {
  background-color: #657382;
}

ul.sidebar-nav li a:hover {
  color: #708090;
}
ul.sidebar-nav li a.current a {
  color: #708090;
}
ul.sidebar-nav li.current a {
  color: #708090;
}
ul.sidebar-nav li.has-submenu.active > a,
ul.sidebar-nav li.has-submenu.active li.active > a {
  color: #708090;
}

.breadcrumb > li.active {
  color: #708090;
}
.breadcrumb a:hover, .breadcrumb a:focus {
  color: #708090;
}
.breadcrumb.link-accent a {
  color: #708090;
}
.breadcrumb.link-accent a:hover, .breadcrumb.link-accent a:focus {
  color: #5e6c79;
}

.fancy-checkbox input[type="checkbox"]:checked + span:before {
  background: #708090;
  border: 1px solid #708090;
}

.fancy-radio input[type="radio"]:checked + span i:after {
  background-color: #708090;
}

/* switch checkbox and radio */
.switch-input input:checked + i {
  border-color: #708090;
}
.switch-input i:before {
  background-color: #708090;
}

.single-pricing-table .btn span {
  color: #a9b3bd;
}

.text-accent-color {
  color: #708090;
}

/* date picker */
.datepicker td.active:active, .datepicker td.active.active {
  background-color: #708090;
  border-color: #5a6673;
}
.datepicker td.active:hover:active, .datepicker td.active:hover.active {
  background-color: #708090;
  border-color: #5a6673;
}
.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active [disabled], .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active.disabled:hover[disabled] {
  background-color: #708090;
  border-color: #5a6673;
}

/* date range picker */
.daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: #708090;
  border-color: #5a6673;
}
.daterangepicker td.in-range {
  background: #dde1e5;
}

.dropcap {
  background-color: #708090;
}

.testimonial-fancy i {
  color: #708090;
}

/* ----------------------------------------------------- */
/* SHOP TEMPLATES
/* style affecting shop templates
/* ----------------------------------------------------- */
.shop-header .service-item i {
  border-color: #708090;
  color: #708090;
}

.slick-text-pagination .slick-dots li.slick-active button {
  border-color: #708090;
}

.shop-main .custom-tabs-line ul > li.active a {
  color: #708090;
}

.fuelux .checkout-wizard ul.steps > li.active .step-number {
  background: #708090;
}
