.container
	.heading-center
		h2.section-heading CONTACT US
		p.lead Questions? Get In Touch
		hr
	.container
		.row
			.col-sm-10
				.contact-form-wrapper
					iframe#contactform123(allowtransparency='true', style='min-height:600px; height:inherit; overflow:auto;', width='100%', name='contactform123', marginwidth='0', marginheight='0', frameborder='0', src='https://www.123contactform.com/my-contact-form-1296453.html')
					//- form#contact-form.form-horizontal.margin-bottom-30px(method="post", role="form", novalidate="")
					//- 	.row
					//- 		.col-sm-6
					//- 			.form-group
					//- 				label.control-label(for="contact-name") Name
					//- 				input#contact-name.form-control(type="text", name="name", placeholder="", required="")
					//- 		.col-sm-6
					//- 			.form-group
					//- 				label.control-label(for="contact-email") Email
					//- 				input#contact-email.form-control(type="email", name="email", placeholder="", required="")
					//- 	.row
					//- 		.col-sm-6
					//- 			.form-group
					//- 				label.control-label(for="contact-type") Contact Type
					//- 				select#contact-type.form-control(name="contactType", placeholder="", required="")
					//- 					option(value='') Select
					//- 					option(value='Home Seller') Home Seller
					//- 					option(value='Home Buyer') Home Buyer
					//- 					option(value='Real Estate Agent') Real Estate Agent
					//- 					option(value='Other') Other
					//- 		.col-sm-6
					//- 			.form-group
					//- 				label.control-label(for="message-type") Message Type
					//- 				select#message-type.form-control(name="messageType", placeholder="", required="")
					//- 					option(value='') Select
					//- 					option(value='Sales Inquiry') Sales Inquiry
					//- 					option(value='Tech Support') Tech Support
					//- 					option(value='Suggestion') Suggestion
					//- 					option(value='Other') Other
					//- 	.row
					//- 		.col-sm-12
					//- 			.form-group
					//- 				label.control-label(for="contact-subject") Subject
					//- 				input#contact-subject.form-control(type="text", name="subject", placeholder="Subject")
					//- 	.row
					//- 		.col-sm-12
					//- 			.form-group
					//- 				label.control-label(for="contact-message") Message
					//- 				textarea#contact-message.form-control(name="message", rows="5", cols="30", placeholder="Message*", required="")
					//- 	.row
					//- 		.col-sm-12
					//- 			.form-group
					//- 				button#submit-button.btn.btn-primary(type="submit")
					//- 					i.fa.loading-icon
					//- 					span Submit Message
					//- 			input#msg-submitted(type="hidden", name="msg-submitted", value="true")
			//- .col-md-3
			//- 	.widget
			//- 		h3.widget-title BUSINESS HOURS
			//- 		ul.list-unstyled
			//- 			li
			//- 				strong.mr3 Monday-Friday:
			//- 				| 8am to 5pm MST
			//- 			li
			//- 				strong.mr3 Saturday:
			//- 				| Email
			//- 			li
			//- 				strong.mr3 Sunday:
			//- 				| Email