extends ../themes/default.jade

block head
	meta(name='ListingConnect', content='Find The Best Real Estate Agent For You With ListingConnect')

block scripts
	script(src="/js/apps/home/index.min.js?cache=#{cacheBreaker}")

block body
	.page-content
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-50168733-1', 'auto');
			ga('send', 'pageview');
		// Google Tag Manager
		noscript
			iframe(src='//www.googletagmanager.com/ns.html?id=GTM-K3ZLZJ', height='0', width='0', style='display:none;visibility:hidden')
		script.
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-K3ZLZJ');
		// End Google Tag Manager
		include splash
		include about
		include features
		include pricing
		include contact
		//- center(align="center")
		//- 	script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
		//- 	// Home Banner Ad
		//- 	ins.adsbygoogle(style='display:inline-block;width:728px;height:90px', data-ad-client='ca-pub-4950211747544966', data-ad-slot='4904405935')
		//- 	script.
		//- 		(adsbygoogle = window.adsbygoogle || []).push({});
		//- include home-ad
