.container
	.heading-center
		h2.section-heading PRICING
		p.lead.lead-alt ListingConnect is completely free for home buyers and home sellers.
		p.lead Below are pricing details for Real Estate Agents.
		p.lead.lead-special SPECIAL: ListingConnect Premium is free for all Agents through June 30th. No credit card required.
		hr
	.multiple-pricing-table
		.plan-heading
			h4 Individual Agents
		.row
			table#comparetable.blueshine
				tr
					td.blank
					th.basic Basic
					th.engagement Engagement
					th.premium Premium
				tr
					td.rowTitle Price
					td.table-plain Free
					td.table-plain $9 per Engagement
						i.fa.fa-question-circle.blue.ml5(data-container="body", data-trigger="hover", data-toggle="popover", data-placement="top", data-content="$9 one-time fee per lead engaged in the internal messaging system.")
					td.table-large $29 per Month
						p.table-large FREE through 6/30
				tr
					td.rowTitle Maximum Visible Leads
						i.fa.fa-question-circle.blue.ml5(data-container="body", data-trigger="hover", data-toggle="popover", data-placement="top", data-content="Maximum number of leads that appear in your lead list.")
					td.table-plain 5
					td.table-plain Unlimited
					td.table-large Unlimited
				tr
					td.rowTitle Basic Agent Profile
						i.fa.fa-question-circle.blue.ml5(data-container="body", data-trigger="hover", data-toggle="popover", data-placement="top", data-content="Leads will NOT be able to view your email address, phone numbers, website link or social media links.")
					td.table-plain Yes
					td.table-plain Yes
					td.table-large Yes
				tr
					td.rowTitle Detailed Agent Profile
						i.fa.fa-question-circle.blue.ml5(data-container="body", data-trigger="hover", data-toggle="popover", data-placement="top", data-content="Leads will be able to view your email address, phone numbers, website link and social media links.")
					td.table-plain No
					td.table-plain No
					td.table-large Yes
				tr
					td.rowTitle Save Leads as Favorites
					td.table-plain No
					td.table-plain No
					td.table-large Yes
				tr
					td.rowTitle Private Messaging
						i.fa.fa-question-circle.blue.ml5(data-container="body", data-trigger="hover", data-toggle="popover", data-placement="top", data-content="Ability to cultivate leads via the private, internal messaging system.")
					td.table-plain No
					td.table-plain $9 per Lead
					td.table-large Unlimited
				tr
					td.rowTitle Phone Support
						i.fa.fa-question-circle.blue.ml5(data-container="body", data-trigger="hover", data-toggle="popover", data-placement="top", data-content="Phone support available Monday-Friday, 8:00am to 5:00pm Mountain Standard Time.")
					td.table-plain No
					td.table-plain Yes
					td.table-large Yes
				tr
					td.rowTitle Email Support
						i.fa.fa-question-circle.blue.ml5(data-container="body", data-trigger="hover", data-toggle="popover", data-placement="top", data-content="Email support available 8:00am to 5:00pm Mountain Standard Time.")
					td.table-plain Monday-Friday
					td.table-plain Sunday-Saturday
					td.table-large Sunday-Saturday
	.single-pricing-table
		h4.plan-heading Office Site License Pricing
		.plan-content
			.row
				.col-md-6
					ul.list-unstyled.plan-detail-list
						li
							strong Looking to get signed up with a group of 50 or more Agents? Contact ListingConnect today to discuss company site license pricing options.
				.col-md-6
					a.btn.btn-primary.btn-lg.btn-block(href="/contact.html")
						| Contact Us
	#contact