extends ../../themes/default.jade

block header
	include ../../themes/header-blog.jade

block scripts
	script(src="/js/apps/home/index.min.js?cache=#{cacheBreaker}")

block body
	.page-content
		.container
			.heading-blog
				h2.section-heading BLOG
				hr
			.row
				.col-md-9
					// BLOG ENTRIES
					.blog.medium-thumbnail.margin-bottom-30px
						// blog post
						article.entry-post
							header.entry-header
								h2.entry-title
									a(href='post-sample.html') Objectively Disseminate Customer Directed E-commerce
								.meta-line.clearfix
							.entry-content.clearfix
								.row
									.col-sm-1
										figure.featured-image
											a(href='post-sample.html')
												.post-date-info.clearfix
													span.post-month DEC
													span.post-date 11
													span.post-year 2014
									.col-sm-9
										.excerpt
											p
												| Proactively reinvent team building customer service with ethical e-markets. Professionally utilize mission-critical technology whereas competitive solutions. Completely underwhelm go forward leadership without maintainable initiatives. Objectively disseminate customer directed e-commerce with prospective partnerships. Collaboratively actualize revolutionary total linkage before orthogonal catalysts for change. Appropriately facilitate optimal meta-services whereas end-to-end solutions...
											p.read-more
												a.btn.btn-primary(href='post-sample.html')
													| Read More
													i.fa.fa-arrow-right.ml5
						// end blog post
						hr
					// END BLOG ENTRIES
					ul.pager
						li
							a(href='#') Previous
						li
							a(href='#') Next
				include sidebar
