extends ../../themes/default.jade

block header
	include ../../themes/header-user.jade

block scripts
	script(src="/js/apps/agent/index.min.js?cache=#{cacheBreaker}")

block body
	script.
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-50168733-1', 'auto');
		ga('send', 'pageview');
	// Google Tag Manager
	noscript
		iframe(src='//www.googletagmanager.com/ns.html?id=GTM-K3ZLZJ', height='0', width='0', style='display:none;visibility:hidden')
	script.
		(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-K3ZLZJ');
	// End Google Tag Manager
	.wrapper
		center(align="center")
			script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
			// Agent Leads
			ins.adsbygoogle(style='display:inline-block;width:728px;height:90px', data-ad-client='ca-pub-4950211747544966', data-ad-slot='9055403934')
			script.
				(adsbygoogle = window.adsbygoogle || []).push({});
	.wrapper
		.container
			div(ng-controller="FavoriteController")
				.col-md-12
					center(align="center")
						h2.name.mb20 Favorites
						br
						.alert.alert-danger.alert-danger-rw.alert-dismissible(role="alert", ng-if="favorite && (favorite.length < 1)")
							button.close(type="button", data-dismiss="alert")
								span(aria-hidden="true") &#215;
								span.sr-only Close
							| You have no favorites yet. Please view the 'Leads' page and click the 'Favorite' button in order to view your favorite leads on this page.
						//- label Filter: &#160;
						//- .btn-group(data-toggle="buttons")
						//-   label.btn.btn-primary.active.mb20(data-container="body", data-trigger="hover", data-toggle="popover", data-placement="top", data-content="View all leads, unfiltered by type.")
						//-     input(type="radio", value="all", name="leadFilter", checked="checked")
						//-     span View All Leads
						//-     i.fa.fa-info-circle.ml5
						//-   label.btn.btn-default.mb20(data-container="body", data-trigger="hover", data-toggle="popover", data-placement="top", data-content="Leads who need an agent to help them sell their current home and find their next home.")
						//-     input(type="radio", value="sellerBuyer", name="leadFilter")
						//-     span Selling and Buying
						//-     i.fa.fa-info-circle.ml5
						//-   label.btn.btn-default.mb20(data-container="body", data-trigger="hover", data-toggle="popover", data-placement="top", data-content="Leads who only need an agent to help them sell their current home but not buying their next home.")
						//-     input(type="radio", value="sellerOnly", name="leadFilter")
						//-     span Selling Only
						//-     i.fa.fa-info-circle.ml5
						//-   label.btn.btn-default.mb20(data-container="body", data-trigger="hover", data-toggle="popover", data-placement="top", data-content="Leads who do not have an existing home they are selling.")
						//-     input(type="radio", value="buyerOnly", name="leadFilter")
						//-     span Buying Only
						//-     i.fa.fa-info-circle.ml5
					.lead-modal
						ul.cd-items.cd-container
							li.cd-item.col-md-4(ng-repeat="favorite in favorites | orderBy:'createdAt':true", ng-if="favorite.agentSaved === 'true'")
								.boxed-content.left-aligned.border-gray(ng-if="favorite.consumer.buyer === 'Yes' && favorite.consumer.seller === 'No'")
									center(align="center")
										h2.boxed-content-title {{favorite.consumer.profileName}}
										h2.boxed-content-subtitle(ng-if="!favorite.consumer.buyerCities") Location: N/A
										h2.boxed-content-subtitle {{favorite.consumer.buyerCities}}
									.col-xs-6
										center(align="center")
											i.fa.fa-times.false
										h2.boxed-content-title.false-text Seller
									.col-xs-6
										center(align="center")
											i.fa.fa-check.true
										h2.boxed-content-title.true-text Buyer
									ul.list-unstyled.project-detail-list.text-left
										li
											.field-box Price Range:
											.value-box(ng-if="!favorite.consumer.buyerPriceMin && !favorite.consumer.buyerPriceMax") N/A
											.value-box(ng-if="favorite.consumer.buyerPriceMin && favorite.consumer.buyerPriceMax") {{favorite.consumer.buyerPriceMin | currency : $ : 0}} to {{favorite.consumer.buyerPriceMax | currency : $ : 0}}
										li
											.field-box Timeframe:
											.value-box(ng-if="!favorite.consumer.timeframe") N/A
											.value-box(ng-if="favorite.consumer.timeframe") {{favorite.consumer.timeframe}}
									center(align="center")
										a.btn.btn-primary.mr7(data-toggle="modal", data-target="#leadDetailsModal", ng-click="$root.selectedFave = favorite")
											i.fa.fa-list-alt.button-icon
											| Details
										a.btn.btn-danger.mr7(data-toggle="modal", data-target="#removeFaveModal", ng-click="$root.selectedFave = favorite")
											i.fa.fa-ban.button-icon
											| Remove
										a.btn.btn-success.mr7(data-toggle="modal", data-target="#sendMessageModal", ng-click="$root.selectedFave = favorite")
											i.fa.fa-envelope.button-icon
											| Message
								.boxed-content.left-aligned.border-gray(ng-if="favorite.consumer.seller === 'Yes' && favorite.consumer.buyer === 'No'")
									center(align="center")
										h2.boxed-content-title {{favorite.consumer.profileName}}
										h2.boxed-content-subtitle(ng-if="!favorite.consumer.sellerCity") Location: N/A
										h2.boxed-content-subtitle {{favorite.consumer.sellerCity}}
									.col-xs-6
										center(align="center")
											i.fa.fa-check.true
										h2.boxed-content-title.true-text Seller
									.col-xs-6
										center(align="center")
											i.fa.fa-times.false
										h2.boxed-content-title.false-text Buyer
									ul.list-unstyled.project-detail-list.text-left
										li
											.field-box Price Range:
											.value-box(ng-if="!favorite.consumer.sellerPriceMin && !favorite.consumer.sellerPriceMax") N/A
											.value-box(ng-if="favorite.consumer.sellerPriceMin && favorite.consumer.sellerPriceMax") {{favorite.consumer.sellerPriceMin | currency : $ : 0}} to {{favorite.consumer.sellerPriceMax | currency : $ : 0}}
										li
											.field-box Timeframe:
											.value-box(ng-if="!favorite.consumer.timeframe") N/A
											.value-box(ng-if="favorite.consumer.timeframe") {{favorite.consumer.timeframe}}
									center(align="center")
										a.btn.btn-primary.mr7(data-toggle="modal", data-target="#leadDetailsModal", ng-click="$root.selectedFave = favorite")
											i.fa.fa-list-alt.button-icon
											| Details
										a.btn.btn-danger.mr7(data-toggle="modal", data-target="#removeFaveModal", ng-click="$root.selectedFave = favorite")
											i.fa.fa-ban.button-icon
											| Remove
										a.btn.btn-success.mr7(data-toggle="modal", data-target="#sendMessageModal", ng-click="$root.selectedFave = favorite")
											i.fa.fa-envelope.button-icon
											| Message
								.boxed-content.left-aligned.border-gray(ng-if="favorite.consumer.seller === 'Yes' && favorite.consumer.buyer === 'Yes'")
									center(align="center")
										h2.boxed-content-title {{favorite.consumer.profileName}}
										h2.boxed-content-subtitle(ng-if="!favorite.consumer.sellerCity") Location: N/A
										h2.boxed-content-subtitle {{favorite.consumer.sellerCity}}
									.col-xs-6
										center(align="center")
											i.fa.fa-check.true
										h2.boxed-content-title.true-text Seller
									.col-xs-6
										center(align="center")
											i.fa.fa-check.true
										h2.boxed-content-title.true-text Buyer
									ul.list-unstyled.project-detail-list.text-left
										li
											.field-box Price Range:
											.value-box(ng-if="!favorite.consumer.sellerPriceMin && !favorite.consumer.sellerPriceMax") N/A
											.value-box(ng-if="favorite.consumer.sellerPriceMin && favorite.consumer.sellerPriceMax") {{favorite.consumer.sellerPriceMin | currency : $ : 0}} to {{favorite.consumer.sellerPriceMax | currency : $ : 0}}
										li
											.field-box Timeframe:
											.value-box(ng-if="!favorite.consumer.timeframe") N/A
											.value-box(ng-if="favorite.consumer.timeframe") {{favorite.consumer.timeframe}}
									center(align="center")
										a.btn.btn-primary.mr7(data-toggle="modal", data-target="#leadDetailsModal", ng-click="$root.selectedFave = favorite")
											i.fa.fa-list-alt.button-icon
											| Details
										a.btn.btn-danger.mr7(data-toggle="modal", data-target="#removeFaveModal", ng-click="$root.selectedFave = favorite")
											i.fa.fa-ban.button-icon
											| Remove
										a.btn.btn-success.mr7(data-toggle="modal", data-target="#sendMessageModal", ng-click="$root.selectedFave = favorite")
											i.fa.fa-envelope.button-icon
											| Message

					#favoriteLoadingModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
						.modal-dialog.modal-lg
							.modal-content
								.modal-header
									center(align="center")
										h4#largeModalLabel.modal-title Loading
								.modal-body
									center(align="center")
										.row
											.form-group.text-center
												label.col-sm-12.text-center Loading favorite buyers and sellers
													i.fa.fa-spinner.fa-pulse.ml5

					#removeFaveModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
						.modal-dialog.modal-lg
							.modal-content
								.modal-header
									button.close(type="button", data-dismiss="modal")
										span(aria-hidden="true") &#215;
										span.sr-only Close
									center(align="center")
										h4#largeModalLabel.modal-title Remove Favorite
								.modal-body
									form(role="removeLeadForm", ng-submit="removeFave(favorite)")
										center(align="center")
											.row
												.form-group.text-center
													label.col-sm-12.text-center Are you sure you would like to remove {{$root.selectedFave.consumer.profileName}} from your favorites?
											.row
											center(align="center")
												.row
													br
													button.btn.btn-primary.mr10(type="submit") Yes
													button.btn.btn-danger(data-dismiss="modal") No
								//- .modal-footer
								//- 	button.btn.btn-rw.btn-danger(data-dismiss="modal") Cancel

					#removeSuccessModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
						.modal-dialog.modal-lg
							.modal-content
								.modal-header
									center(align="center")
										h4#largeModalLabel.modal-title Success
								.modal-body
									center(align="center")
										.row
											.form-group.text-center
												label.col-sm-12.text-center Lead successfully removed from Favorites!

					#sendMessageModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
						.modal-dialog.modal-lg
							.modal-content
								.modal-header
									button.close(type="button", data-dismiss="modal")
										span(aria-hidden="true") &#215;
										span.sr-only Close
									center(align="center")
										h4#largeModalLabel.modal-title Send Message
								.modal-body
									form(role="newMsgForm", ng-submit="messageLead()")
										center(align="center")
											.row
												.form-group.text-center
													label.col-sm-12.text-center Send to {{$root.selectedFave.consumer.profileName}}
											.row
												.col-xs-10
													textarea.form-control(placeholder='Message', rows='5', ng-model="$root.message.message")
												center(align="center")
													br
													button.btn.btn-primary.mr80.mt15(type="submit") Send
											.row
												center(align="center")
													.alert.alert-danger.inline.bold(ng-if="error") {{error}}
								.modal-footer
									button.btn.btn-rw.btn-danger(data-dismiss="modal") Cancel

					#messageSuccessModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
						.modal-dialog.modal-lg
							.modal-content
								.modal-header
									center(align="center")
										h4#largeModalLabel.modal-title Success
								.modal-body
									center(align="center")
										.row
											.form-group.text-center
												label.col-sm-12.text-center Message sent!

					#leadDetailsModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
						.modal-dialog.modal-lg
							.modal-content
								.modal-body
									center(align="center")
										.modal-title {{$root.selectedFave.consumer.profileName}}
									br
									center(align="center")
										.custom-tabs-line.tabs-line-bottom
											ul.nav.nav-tabs.tabs-iconized(ng-if="$root.selectedFave.consumer.buyer === 'Yes' && $root.selectedFave.consumer.seller === 'No'")
												li.active
													a(href="#buyerDetails", data-toggle="tab")
														| Details
											ul.nav.nav-tabs.tabs-iconized(ng-if="$root.selectedFave.consumer.seller === 'Yes' && $root.selectedFave.consumer.buyer === 'Yes'")
												li.active
													a(href="#sellerDetails", data-toggle="tab")
														| Current Home
												li
													a(href="#buyerDetails", data-toggle="tab")
														| Next Home
											ul.nav.nav-tabs.tabs-iconized(ng-if="$root.selectedFave.consumer.seller === 'Yes' && !$root.selectedFave.consumer.buyer === 'No'")
												li.active
													a(href="#sellerDetails", data-toggle="tab")
														| Current Home
										.tab-content.clearfix(ng-if="$root.selectedFave.consumer.seller === 'Yes' && $root.selectedFave.consumer.buyer === 'No'")
											#sellerDetails.tab-pane.fade.in.active
												.col-sm-6
													.section-title
														h4 Current Home Details
														hr
													ul.profile-table.text-left
														li
															.field Selling Timeframe:
															.value(ng-if="!$root.selectedFave.consumer.timeframe") N/A
															.value(ng-if="$root.selectedFave.consumer.timeframe") {{$root.selectedFave.consumer.timeframe}}
														li
															.field Price Range:
															.value(ng-if="!$root.selectedFave.consumer.sellerPriceMin && !$root.selectedFave.consumer.sellerPriceMax") N/A
															.value(ng-if="$root.selectedFave.consumer.sellerPriceMin && $root.selectedFave.consumer.sellerPriceMax") {{$root.selectedFave.consumer.sellerPriceMin | currency : $ : 0}} to {{$root.selectedFave.consumer.sellerPriceMax | currency : $ : 0}}
														li
															.field Property Type:
															.value(ng-if="!$root.selectedFave.consumer.sellerPropType") N/A
															.value(ng-if="$root.selectedFave.consumer.sellerPropType") {{$root.selectedFave.consumer.sellerPropType}}
														li
															.field Property Style:
															.value(ng-if="!$root.selectedFave.consumer.sellerPropStyle") N/A
															.value(ng-if="$root.selectedFave.consumer.sellerPropStyle") {{$root.selectedFave.consumer.sellerPropStyle}}
														li
															.field Bedrooms:
															.value(ng-if="!$root.selectedFave.consumer.sellerBeds") N/A
															.value(ng-if="$root.selectedFave.consumer.sellerBeds") {{$root.selectedFave.consumer.sellerBeds}}
														li
															.field Bathrooms:
															.value(ng-if="!$root.selectedFave.consumer.sellerBaths") N/A
															.value(ng-if="$root.selectedFave.consumer.sellerBaths") {{$root.selectedFave.consumer.sellerBaths}}
														li
															.field Square Feet:
															.value(ng-if="!$root.selectedFave.consumer.sellerSqft") N/A
															.value(ng-if="$root.selectedFave.consumer.sellerSqft") {{$root.selectedFave.consumer.sellerSqft | number : 0}}
														li
															.field City, State:
															.value(ng-if="!$root.selectedFave.consumer.sellerCity && !$root.selectedFave.consumer.state") N/A
															.value(ng-if="$root.selectedFave.consumer.sellerCity && $root.selectedFave.consumer.state") {{$root.selectedFave.consumer.sellerCity}}, {{$root.selectedFave.consumer.state}}
														li
															.field Parking Type:
															.value(ng-if="!$root.selectedFave.consumer.sellerParkingType") N/A
															.value(ng-if="$root.selectedFave.consumer.sellerParkingType") {{$root.selectedFave.consumer.sellerParkingType}}
														li
															.field Parking Spaces:
															.value(ng-if="!$root.selectedFave.consumer.sellerParkingSpaces") N/A
															.value(ng-if="$root.selectedFave.consumer.sellerParkingSpaces") {{$root.selectedFave.consumer.sellerParkingSpaces}}
														li
															.field Basement:
															.value(ng-if="!$root.selectedFave.consumer.sellerBasementType") N/A
															.value(ng-if="$root.selectedFave.consumer.sellerBasementType") {{$root.selectedFave.consumer.sellerBasementType}}
														li
															.field School District:
															.value(ng-if="!$root.selectedFave.consumer.sellerSchoolDist") N/A
															.value(ng-if="$root.selectedFave.consumer.sellerSchoolDist") {{$root.selectedFave.consumer.sellerSchoolDist}}
														li
															.field HOA Fee:
															.value(ng-if="!$root.selectedFave.consumer.sellerHoaFee && !$root.selectedFave.consumer.sellerHoaTerm") N/A
															.value(ng-if="$root.selectedFave.consumer.sellerHoaFee && $root.selectedFave.consumer.sellerHoaTerm") {{$root.selectedFave.consumer.sellerHoaFee | currency : $ : 0}} per {{$root.selectedFave.consumer.sellerHoaTerm}}
														li
															.field Lot Size:
															.value(ng-if="!$root.selectedFave.consumer.sellerLotSize") N/A
															.value(ng-if="$root.selectedFave.consumer.sellerLotSize") {{$root.selectedFave.consumer.sellerLotSize | number : 0}}
														li
															.field Year Built:
															.value(ng-if="!$root.selectedFave.consumer.sellerYearBuilt") N/A
															.value(ng-if="$root.selectedFave.consumer.sellerYearBuilt") {{$root.selectedFave.consumer.sellerYearBuilt}}
												.col-sm-6
													.section-title
														h4 Seller Remarks
														hr
													p.mt10.text-left(ng-bind-html="trustAsHtml($root.selectedFave.consumer.sellerRemarks)", ng-if="$root.selectedFave.consumer.sellerRemarks")
													.alert.alert-warning.alert-warning-rw(role="alert", ng-if="!$root.selectedFave.consumer.sellerRemarks") There are no seller remarks currently available.
										.tab-content.clearfix(ng-if="$root.selectedFave.consumer.seller === 'Yes' && $root.selectedFave.consumer.buyer === 'Yes'")
											#sellerDetails.tab-pane.fade.in.active
												.col-sm-6
													.section-title
														h4 Current Home Details
														hr
													ul.profile-table.text-left
														li
															.field Selling Timeframe:
															.value(ng-if="!$root.selectedFave.consumer.timeframe") N/A
															.value(ng-if="$root.selectedFave.consumer.timeframe") {{$root.selectedFave.consumer.timeframe}}
														li
															.field Price Range:
															.value(ng-if="!$root.selectedFave.consumer.sellerPriceMin && !$root.selectedFave.consumer.sellerPriceMax") N/A
															.value(ng-if="$root.selectedFave.consumer.sellerPriceMin && $root.selectedFave.consumer.sellerPriceMax") {{$root.selectedFave.consumer.sellerPriceMin | currency : $ : 0}} to {{$root.selectedFave.consumer.sellerPriceMax | currency : $ : 0}}
														li
															.field Property Type:
															.value(ng-if="!$root.selectedFave.consumer.sellerPropType") N/A
															.value(ng-if="$root.selectedFave.consumer.sellerPropType") {{$root.selectedFave.consumer.sellerPropType}}
														li
															.field Property Style:
															.value(ng-if="!$root.selectedFave.consumer.sellerPropStyle") N/A
															.value(ng-if="$root.selectedFave.consumer.sellerPropStyle") {{$root.selectedFave.consumer.sellerPropStyle}}
														li
															.field Bedrooms:
															.value(ng-if="!$root.selectedFave.consumer.sellerBeds") N/A
															.value(ng-if="$root.selectedFave.consumer.sellerBeds") {{$root.selectedFave.consumer.sellerBeds}}
														li
															.field Bathrooms:
															.value(ng-if="!$root.selectedFave.consumer.sellerBaths") N/A
															.value(ng-if="$root.selectedFave.consumer.sellerBaths") {{$root.selectedFave.consumer.sellerBaths}}
														li
															.field Square Feet:
															.value(ng-if="!$root.selectedFave.consumer.sellerSqft") N/A
															.value(ng-if="$root.selectedFave.consumer.sellerSqft") {{$root.selectedFave.consumer.sellerSqft | number : 0}}
														li
															.field City, State:
															.value(ng-if="!$root.selectedFave.consumer.sellerCity && !$root.selectedFave.consumer.state") N/A
															.value(ng-if="$root.selectedFave.consumer.sellerCity && $root.selectedFave.consumer.state") {{$root.selectedFave.consumer.sellerCity}}, {{$root.selectedFave.consumer.state}}
														li
															.field Parking Type:
															.value(ng-if="!$root.selectedFave.consumer.sellerParkingType") N/A
															.value(ng-if="$root.selectedFave.consumer.sellerParkingType") {{$root.selectedFave.consumer.sellerParkingType}}
														li
															.field Parking Spaces:
															.value(ng-if="!$root.selectedFave.consumer.sellerParkingSpaces") N/A
															.value(ng-if="$root.selectedFave.consumer.sellerParkingSpaces") {{$root.selectedFave.consumer.sellerParkingSpaces}}
														li
															.field Basement:
															.value(ng-if="!$root.selectedFave.consumer.sellerBasementType") N/A
															.value(ng-if="$root.selectedFave.consumer.sellerBasementType") {{$root.selectedFave.consumer.sellerBasementType}}
														li
															.field School District:
															.value(ng-if="!$root.selectedFave.consumer.sellerSchoolDist") N/A
															.value(ng-if="$root.selectedFave.consumer.sellerSchoolDist") {{$root.selectedFave.consumer.sellerSchoolDist}}
														li
															.field HOA Fee:
															.value(ng-if="!$root.selectedFave.consumer.sellerHoaFee && !$root.selectedFave.consumer.sellerHoaTerm") N/A
															.value(ng-if="$root.selectedFave.consumer.sellerHoaFee && $root.selectedFave.consumer.sellerHoaTerm") {{$root.selectedFave.consumer.sellerHoaFee | currency : $ : 0}} per {{$root.selectedFave.consumer.sellerHoaTerm}}
														li
															.field Lot Size:
															.value(ng-if="!$root.selectedFave.consumer.sellerLotSize") N/A
															.value(ng-if="$root.selectedFave.consumer.sellerLotSize") {{$root.selectedFave.consumer.sellerLotSize | number : 0}}
														li
															.field Year Built:
															.value(ng-if="!$root.selectedFave.consumer.sellerYearBuilt") N/A
															.value(ng-if="$root.selectedFave.consumer.sellerYearBuilt") {{$root.selectedFave.consumer.sellerYearBuilt}}
												.col-sm-6
													.section-title
														h4 Seller Remarks
														hr
													p.mt10.text-left(ng-bind-html="trustAsHtml($root.selectedFave.consumer.sellerRemarks)", ng-if="$root.selectedFave.consumer.sellerRemarks")
													.alert.alert-warning.alert-warning-rw(role="alert", ng-if="!$root.selectedFave.consumer.sellerRemarks") There are no seller remarks currently available.
											#buyerDetails.tab-pane.fade.in
												.col-sm-6
													.section-title
														h4 Next Home Details
														hr
													ul.profile-table.text-left
														li
															.field Buying Timeframe:
															.value(ng-if="!$root.selectedFave.consumer.timeframe") N/A
															.value(ng-if="$root.selectedFave.consumer.timeframe") {{$root.selectedFave.consumer.timeframe}}
														li
															.field Property Type:
															.value(ng-if="!$root.selectedFave.consumer.buyerPropType") N/A
															.value(ng-if="$root.selectedFave.consumer.buyerPropType") {{$root.selectedFave.consumer.buyerPropType}}
														li
															.field Price Range:
															.value(ng-if="!$root.selectedFave.consumer.buyerPriceMin && !$root.selectedFave.consumer.buyerPriceMax") N/A
															.value(ng-if="$root.selectedFave.consumer.buyerPriceMin && $root.selectedFave.consumer.buyerPriceMax") {{$root.selectedFave.consumer.buyerPriceMin | currency : $ : 0}} to {{$root.selectedFave.consumer.buyerPriceMax | currency : $ : 0}}
														li
															.field Bedrooms:
															.value(ng-if="!$root.selectedFave.consumer.buyerBedsMin && !$root.selectedFave.consumer.buyerBedsMax") N/A
															.value(ng-if="$root.selectedFave.consumer.buyerBedsMin && $root.selectedFave.consumer.buyerBedsMax") {{$root.selectedFave.consumer.buyerBedsMin}} to {{$root.selectedFave.consumer.buyerBedsMax}}
														li
															.field Bathrooms:
															.value(ng-if="!$root.selectedFave.consumer.buyerBathsMin && !$root.selectedFave.consumer.buyerBathsMax") N/A
															.value(ng-if="$root.selectedFave.consumer.buyerBathsMin && $root.selectedFave.consumer.buyerBathsMax") {{$root.selectedFave.consumer.buyerBathsMin}} to {{$root.selectedFave.consumer.buyerBathsMax}}
														li
															.field Square Feet:
															.value(ng-if="!$root.selectedFave.consumer.buyerSqftMin && !$root.selectedFave.consumer.buyerSqftMax") N/A
															.value(ng-if="$root.selectedFave.consumer.buyerSqftMin && $root.selectedFave.consumer.buyerSqftMax") {{$root.selectedFave.consumer.buyerSqftMin | number : 0}} to {{$root.selectedFave.consumer.buyerSqftMax | number : 0}}
														li
															.field Cities:
															.value(ng-if="!$root.selectedFave.consumer.buyerCities") N/A
															.value(ng-if="$root.selectedFave.consumer.buyerCities") {{$root.selectedFave.consumer.buyerCities.join(', ')}}
												.col-sm-6
													.section-title
														h4 Buyer Remarks
														hr
													p.mt10.text-left(ng-bind-html="trustAsHtml($root.selectedFave.consumer.buyerRemarks)", ng-if="$root.selectedFave.consumer.buyerRemarks")
													.alert.alert-warning.alert-warning-rw(role="alert", ng-if="!$root.selectedFave.consumer.buyerRemarks") There are no buyer remarks currently available.
										.tab-content.clearfix(ng-if="$root.selectedFave.consumer.seller === 'No' && $root.selectedFave.consumer.buyer === 'Yes'")
											#buyerDetails.tab-pane.fade.in.active
												.col-sm-6
													.section-title
														h4 Next Home Details
														hr
													ul.profile-table.text-left
														li
															.field Buying Timeframe:
															.value(ng-if="!$root.selectedFave.consumer.timeframe") N/A
															.value(ng-if="$root.selectedFave.consumer.timeframe") {{$root.selectedFave.consumer.timeframe}}
														li
															.field Property Type:
															.value(ng-if="!$root.selectedFave.consumer.buyerPropType") N/A
															.value(ng-if="$root.selectedFave.consumer.buyerPropType") {{$root.selectedFave.consumer.buyerPropType}}
														li
															.field Price Range:
															.value(ng-if="!$root.selectedFave.consumer.buyerPriceMin && !$root.selectedFave.consumer.buyerPriceMax") N/A
															.value(ng-if="$root.selectedFave.consumer.buyerPriceMin && $root.selectedFave.consumer.buyerPriceMax") {{$root.selectedFave.consumer.buyerPriceMin | currency : $ : 0}} to {{$root.selectedFave.consumer.buyerPriceMax | currency : $ : 0}}
														li
															.field Bedrooms:
															.value(ng-if="!$root.selectedFave.consumer.buyerBedsMin && !$root.selectedFave.consumer.buyerBedsMax") N/A
															.value(ng-if="$root.selectedFave.consumer.buyerBedsMin && $root.selectedFave.consumer.buyerBedsMax") {{$root.selectedFave.consumer.buyerBedsMin}} to {{$root.selectedFave.consumer.buyerBedsMax}}
														li
															.field Bathrooms:
															.value(ng-if="!$root.selectedFave.consumer.buyerBathsMin && !$root.selectedFave.consumer.buyerBathsMax") N/A
															.value(ng-if="$root.selectedFave.consumer.buyerBathsMin && $root.selectedFave.consumer.buyerBathsMax") {{$root.selectedFave.consumer.buyerBathsMin}} to {{$root.selectedFave.consumer.buyerBathsMax}}
														li
															.field Square Feet:
															.value(ng-if="!$root.selectedFave.consumer.buyerSqftMin && !$root.selectedFave.consumer.buyerSqftMax") N/A
															.value(ng-if="$root.selectedFave.consumer.buyerSqftMin && $root.selectedFave.consumer.buyerSqftMax") {{$root.selectedFave.consumer.buyerSqftMin | number : 0}} to {{$root.selectedFave.consumer.buyerSqftMax | number : 0}}
														li
															.field Cities:
															.value(ng-if="!$root.selectedFave.consumer.buyerCities") N/A
															.value(ng-if="$root.selectedFave.consumer.buyerCities") {{$root.selectedFave.consumer.buyerCities.join(', ')}}
												.col-sm-6
													.section-title
														h4 Buyer Remarks
														hr
													p.mt10.text-left(ng-bind-html="trustAsHtml($root.selectedFave.consumer.buyerRemarks)", ng-if="$root.selectedFave.consumer.buyerRemarks")
													.alert.alert-warning.alert-warning-rw(role="alert", ng-if="!$root.selectedFave.consumer.buyerRemarks") There are no buyer remarks currently available.
								.modal-footer
									button.btn.btn-rw.btn-danger(data-dismiss="modal") Close
