doctype html(lang='en')
html(ng-app='app')
	head
		meta(name='description', content='')
		style.
			.ng-cloak, [ng-cloak] {
				visibility: hidden !impotant;
			}
		link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
		link(rel='icon', href='/favicon.ico', type='image/x-icon')

		block title_default
			title Real Estate Beacons

		script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
		script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js')
		script.
			var CKEDITOR_BASEPATH = '/ckeditor/'
		script(src="/js/vendor.js")
		//- script(type="text/javascript").
		//-   Royal_Preloader.config({ mode: 'number', showProgress: false, background: '#ffffff' });

		script(src="//widget.cloudinary.com/global/all.js", type="text/javascript")

		link(href="/styles/include.min.css", rel="stylesheet", type="text/css")

		// script(src="//js.stripe.com/v2/")
		// script(type="text/javascript").
		//   // This identifies your website in the createToken call below
		//   Stripe.setPublishableKey('pk_test_2wXCeXDqc3LuaMbq2QkXW9WK');

		script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.js")
		script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular-sanitize.js")

		block head
			//- Overridable with `block head` in pages

	body(ng-cloak, ng-controller="MainController")
		//- #royal_preloader
		//- .container
		block header
		.clearfix
		block body
		.clearfix
		include footer.jade
		.clearfix

		block foot
		//- script(src='//cdnjs.cloudflare.com/ajax/libs/textAngular/1.4.3/dist/textAngular-rangy.min.js')
		//- script(src='//cdnjs.cloudflare.com/ajax/libs/textAngular/1.4.3/dist/textAngular-sanitize.min.js')
		//- script(src='//cdnjs.cloudflare.com/ajax/libs/textAngular/1.4.3/dist/textAngular.min.js')
		//- script(src="/js/apps/index.min.js")
		//- script(src="/js/apps/universal/index.js")

		//- script(src="/js/vendor/main.js")
		//- script(src="/js/vendor/bootstrap.js")
		//- script(src="/js/vendor/hover-dropdown.js")
		//- script(src="/js/vendor/jquery-easing.js")
		//- script(src="/js/vendor/jquery-mixitup.js")
		//- script(src="/js/vendor/scrollReveal.js")
		//- script(src="/js/vendor/owl-carousel.js")
		//- script(src="/js/vendor/jquery-magnific-popup.js")
		//- script(src="/js/vendor/jquery-snippet.js")
		//- script(src="/js/vendor/jquery-fitvids.js")
		//- script(src="/js/vendor/style-switcher.js")
		//- script(src="/js/vendor/activate-snippet.js")
		//- script(src="/js/vendor/skrollr.min.js")
		//- script(src="/js/vendor/jquery.ui.widget.js")
		//- script(src="/js/vendor/jquery.iframe-transport.js")
		//- script(src="/js/vendor/jquery.fileupload.js")

		//- script(src="//cdn.ckeditor.com/4.5.3/standard/ckeditor.js")
		//- // CKEditor scripts
		//- script(src="/ckeditor/ckeditor.js")
		//- script(src="/ckeditor/styles.js")
		//- script(src="/ckeditor/config.js")
		//- script(src="/ckeditor/build-config.js")

		script.
			var config = {
			easing: 'hustle',
			mobile:  true,
			delay:  'onload'
			}
			window.sr = new scrollReveal( config );
		//- script(src="/js/vendor/main.min.js")
		block scripts

