doctype html(lang='en')
html(ng-app='app')
	head
		meta(name='description', content='')
		link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
		link(rel='icon', href='/favicon.ico', type='image/x-icon')

		block title_default
			title Real Estate Beacons

		script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
		script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js')
		script.
			var CKEDITOR_BASEPATH = '/ckeditor/'
		script(src="/js/vendor.js")
		script(type="text/javascript").
			Royal_Preloader.config({ mode: 'number', showProgress: false, background: '#ffffff' });

		script(src="//widget.cloudinary.com/global/all.js", type="text/javascript")

		link(href="/styles/include.min.css", rel="stylesheet", type="text/css")

		style(type='text/css').
			[ng-cloak], .ng-cloak {display: none;}

		block head
			// Overridable with `block head` in pages

	body(ng-controller="MainController")
		//- #royal_preloader
		//- .container
			//- include header-alt.jade
			//- .clearfix
		block body
		.clearfix
		include footer.jade
		.clearfix

		block foot

		script.
			var config = {
			easing: 'hustle',
			mobile:  true,
			delay:  'onload'
			}
			window.sr = new scrollReveal( config );
		//- script(src="/js/vendor/main.min.js")
		block scripts

