extends ../../themes/default.jade

block header
	include ../../themes/header-user.jade

block scripts
	script(src="/js/apps/consumer/index.min.js?cache=#{cacheBreaker}")

block body
	script.
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-50168733-1', 'auto');
		ga('send', 'pageview');
	// Google Tag Manager
	noscript
		iframe(src='//www.googletagmanager.com/ns.html?id=GTM-K3ZLZJ', height='0', width='0', style='display:none;visibility:hidden')
	script.
		(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-K3ZLZJ');
	// End Google Tag Manager
	.wrapper
		center(align="center")
			script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
			// Consumer Matches
			ins.adsbygoogle(style='display:inline-block;width:728px;height:90px', data-ad-client='ca-pub-4950211747544966', data-ad-slot='5124731936')
			script.
				(adsbygoogle = window.adsbygoogle || []).push({});
	.wrapper
		.container
			div(ng-controller="AgentController")
				.col-md-12
					center(align="center")
						h2.name Agents
						br
						.alert.alert-danger.alert-danger-rw.alert-dismissible(role="alert", ng-if="agent && (agent.length < 1)")
							button.close(type="button", data-dismiss="alert")
								span(aria-hidden="true") &#215;
								span.sr-only Close
							| You have no matching Agents yet. Please check back soon, as we are working diligently to acquire matching Agents in your area.

					.lead-modal
						ul.cd-items.cd-container
							li.cd-item.col-md-4(ng-repeat="agent in agents | orderBy:'createdAt':true")
								.boxed-content
									center(align="center")
										img.match-list(ng-if="agent.photo", ng-src="{{agent.photo}}", alt="Agent Photo")
										img.match-list(ng-if="!agent.photo", src="/images/photo-unavailable.jpg", alt="Agent Photo")
									h2.boxed-content-title {{agent.displayName}}
									h2.boxed-content-subtitle(ng-if="agent.companyName") {{agent.companyName}}
									h2.boxed-content-subtitle(ng-if="!agent.companyName") Company N/A
									//- section
									ul.list-unstyled.project-detail-list.text-left
										li(ng-if="agent.subscription === 'Promo'")
											.subscription-status
												i.fa.fa-check.true
												.premium-true Premium Agent
													//- i.fa.fa-question-circle.blue.ml5(data-container="body", data-trigger="hover", data-toggle="popover", data-placement="top", data-content="If an Agent is a Premium Agent, you have the ability to message them privately and view their full profile details.")
										li(ng-if="agent.subscription !== 'Promo'")
											.subscription-status
												i.fa.fa-times.false
												.premium-false Premium Agent
													//- i.fa.fa-question-circle.blue.ml5(data-container="body", data-trigger="hover", data-toggle="popover", data-placement="top", data-content="If an Agent is a Premium Agent, you have the ability to message them privately and view their full profile details.")
										li
											.field-box Location:
											.value-box(ng-if="!agent.city && agent.state && !agent.zip") N/A, {{agent.state}} N/A
											.value-box(ng-if="!agent.city && agent.state && agent.zip") N/A, {{agent.state}} {{agent.zip}}
											.value-box(ng-if="agent.city && agent.state && !agent.zip") {{agent.city}}, {{agent.state}} N/A
											.value-box(ng-if="agent.city && agent.state && agent.zip") {{agent.city}}, {{agent.state}} {{agent.zip}}
									center(align="center")
										a.btn.btn-primary.mr10(data-toggle="modal", data-target="#agentDetailsModal", ng-click="$root.selectedAgent = agent")
											i.fa.fa-list-alt.button-icon
											| Details
										a.btn.btn-danger.mr10(data-toggle="modal", data-target="#addFaveAgentModal", ng-click="$root.selectedAgent = agent")
											i.fa.fa-heart.button-icon
											| Favorite
										//- a.btn.btn-danger.mr10(ng-disabled="agent.favorite === true")
										//-   i.fa.fa-heart.button-icon
										//-   | In Favorites
										a.btn.btn-success.mr10(data-toggle="modal", data-target="#sendMessageModal", ng-click="$root.selectedAgent = agent")
											i.fa.fa-envelope.button-icon
											| Message

					#addFaveAgentModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
						.modal-dialog.modal-lg
							.modal-content
								.modal-header
									button.close(type="button", data-dismiss="modal")
										span(aria-hidden="true") &#215;
										span.sr-only Close
									center(align="center")
										h4#largeModalLabel.modal-title Add Favorite
								.modal-body
									form(role="addFaveAgentForm", ng-submit="faveAgent(agent)")
										center(align="center")
											.row
												.form-group.text-center
													label.col-sm-12.text-center Are you sure you would like to add {{$root.selectedAgent.displayName}} to your favorites?
											.row
												center(align="center")
													br
													button.btn.btn-primary.mr10(type="submit") Yes
													button.btn.btn-danger(data-dismiss="modal") No
											.row
												center(align="center")
													.alert.alert-danger.inline.bold(ng-if="error") {{error}}

					#saveSuccessModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
						.modal-dialog.modal-lg
							.modal-content
								.modal-header
									center(align="center")
										h4#largeModalLabel.modal-title Success
								.modal-body
									center(align="center")
										.row
											.form-group.text-center
												label.col-sm-12.text-center Agent successfully added to Favorites!

					#sendMessageModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
						.modal-dialog.modal-lg
							.modal-content
								.modal-header
									button.close(type="button", data-dismiss="modal")
										span(aria-hidden="true") &#215;
										span.sr-only Close
									center(align="center")
										h4#largeModalLabel.modal-title Send Message
								.modal-body
									form(role="newMsgForm", ng-submit="messageAgent()")
										center(align="center")
											.row
												.form-group.text-center
													label.col-sm-12.text-center Send to {{$root.selectedAgent.displayName}}
											.row
												.col-xs-10
													textarea.form-control(placeholder='Message', rows='5', ng-model="$root.message.message")
												center(align="center")
													br
													button.btn.btn-primary.mr80.mt15(type="submit") Send
											.row
												center(align="center")
													.alert.alert-danger.inline.bold(ng-if="error") {{error}}
								.modal-footer
									button.btn.btn-rw.btn-danger(data-dismiss="modal") Cancel

					#messageSuccessModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
						.modal-dialog.modal-lg
							.modal-content
								.modal-header
									center(align="center")
										h4#largeModalLabel.modal-title Success
								.modal-body
									center(align="center")
										.row
											.form-group.text-center
												label.col-sm-12.text-center Message sent!

					#messageModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
						.modal-dialog.modal-lg
							.modal-content
								.modal-header
									button.close(type="button", data-dismiss="modal")
										span(aria-hidden="true") &#215;
										span.sr-only Close
									center(align="center")
										.chat-with Chat with {{$root.selectedAgent.displayName}}
								.modal-body
									.chat-contents
										.chat-history
											ul
												li.chat-list.clearfix(ng-repeat="agent in messages | orderBy:'createdAt':true")
													.message-data.align-right(ng-if="agent.createdBy === 'Consumer'")
														span.message-data-name Me
														span.message-data-time {{agent.createdAt | date : 'short'}}
													.message.other-message.pull-right(ng-if="agent.createdBy === 'Consumer'")
														| {{agent.message}}
													.message-data.align-left(ng-if="agent.createdBy === 'Agent'")
														span.message-data-name {{agent.agent.displayName}}
														span.message-data-time {{agent.createdAt | date : 'short'}}
													.message.my-message.pull-left(ng-if="agent.createdBy === 'Agent'")
														| {{agent.message}}
										//- .chat-history
										//-   ul
										//-     li(ng-repeat="agent in messages | orderBy:'createdAt':true") {{agent.message}}
										form(role="messageForm", ng-submit="messageAgent($root.message)")
											.form-group.col-sm-12
												label Send Message
												textarea.form-control(placeholder="Enter message", rows="4", ng-model="$root.message.message")
											.form-group.col-sm-12
												button.btn.btn-primary(type="submit") Send
												.alert.alert-success.inline.bold(ng-if="success") {{success}}
												.alert.alert-danger.inline.bold(ng-if="error") {{error}}
								.modal-footer.chat-modal
									button.btn.btn-danger(data-toggle="modal", data-target="#messageModal") Close

					#agentDetailsModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
						.modal-dialog.modal-lg
							.modal-content
								.modal-body
									center(align="center")
										.modal-title {{$root.selectedAgent.displayName}}
										.modal-subtitle {{$root.selectedAgent.companyName}}
									.single-product
										.row
											.col-md-3
												#product-images.carousel.slide.product-images(data-ride="carousel", data-interval="false")
													.carousel-inner
														.item.active(ng-if="!$root.selectedAgent.photo")
															img.img-responsive.agent-photo(src="/images/photo-unavailable.jpg", alt="Agent Photo")
														.item.active(ng-if="$root.selectedAgent.photo")
															img.img-responsive.agent-photo(ng-src="{{$root.selectedAgent.photo}}", alt="Agent Photo")
												.clearfix
											.col-md-6
												section.product-info.no-margin
													table.table.table-striped
														tr
															th.col-xs-4 Works In:
															td(ng-if="!$root.selectedAgent.cities") N/A
															td(ng-if="$root.selectedAgent.cities") {{$root.selectedAgent.cities.join(', ')}}
														tr
															th.col-xs-4 Specialties:
															td(ng-if="!$root.selectedAgent.specialties") N/A
															td(ng-if="$root.selectedAgent.specialties") {{$root.selectedAgent.specialties.join(', ')}}
														tr
															th.col-xs-4 Agent Since:
															td(ng-if="!$root.selectedAgent.agentSince") N/A
															td(ng-if="$root.selectedAgent.agentSince") {{$root.selectedAgent.agentSince}}
														tr
															th.col-xs-4 Direct Phone:
															td.blue(ng-if="$root.selectedAgent.subscription !== 'Promo'") Premium Agents Only
															td(ng-if="$root.selectedAgent.subscription === 'Promo' && !$root.selectedAgent.directPhone") N/A
															td(ng-if="$root.selectedAgent.subscription === 'Promo' && $root.selectedAgent.directPhone") {{$root.selectedAgent.directPhone}}
														tr
															th.col-xs-4 Email:
															td.blue(ng-if="$root.selectedAgent.subscription !== 'Promo'") Premium Agents Only
															td(ng-if="$root.selectedAgent.subscription === 'Promo' && !$root.selectedAgent.companyEmail") N/A
															td(ng-if="$root.selectedAgent.subscription === 'Promo' && $root.selectedAgent.companyEmail") {{$root.selectedAgent.companyEmail}}
														tr
															th.col-xs-4 Connect:
															td.blue(ng-if="$root.selectedAgent.subscription !== 'Promo'") Premium Agents Only
															td(ng-if="$root.selectedAgent.subscription === 'Promo'")
																a.fa.fa-globe.fa-lg(ng-href="{{$root.selectedAgent.website}}", target="_blank", title="{{$root.selectedAgent.website}}", ng-if="$root.selectedAgent.website")
																i.fa.fa-globe.fa-lg.invalid(title="Website URL Not Yet Added", ng-if="!$root.selectedAgent.website")
																a.fa.fa-linkedin-square.fa-lg(ng-href="{{$root.selectedAgent.linkedIn}}", target="_blank", title="{{$root.selectedAgent.linkedIn}}", ng-if="$root.selectedAgent.linkedIn")
																i.fa.fa-linkedin-square.fa-lg.invalid(title="LinkedIn Profile Not Yet Added", ng-if="!$root.selectedAgent.linkedIn")
																a.fa.fa-facebook-square.fa-lg(ng-href="{{$root.selectedAgent.facebook}}", target="_blank", title="{{$root.selectedAgent.facebook}}", ng-if="$root.selectedAgent.facebook")
																i.fa.fa-facebook-square.fa-lg.invalid(title="Facebook Profile Not Yet Added", ng-if="!$root.selectedAgent.facebook")
																a.fa.fa-twitter-square.fa-lg(ng-href="{{$root.selectedAgent.twitter}}", target="_blank", title="{{$root.selectedAgent.twitter}}", ng-if="$root.selectedAgent.twitter")
																i.fa.fa-twitter-square.fa-lg.invalid(title="Twitter Profile Not Yet Added", ng-if="!$root.selectedAgent.twitter")
												//- center(align="center")
												//- 	a.btn.btn-danger.btn-subtitle.mr10(ng-click="faveAgent(agent)")
												//- 		i.fa.fa-heart.button-icon
												//- 		| Favorite
												//- 	a.btn.btn-success.btn-subtitle(ng-click="messageAgent(agent)")
												//- 		i.fa.fa-envelope.button-icon
												//- 		| Message
											.col-md-3
												#product-images.carousel.slide.product-images(data-ride="carousel", data-interval="false")
													.carousel-inner
														.item.active(ng-if="!$root.selectedAgent.logo")
															img.img-responsive.agent-logo(src="/images/logo-unavailable.jpg", alt="Agent Logo")
														.item.active(ng-if="$root.selectedAgent.logo")
															img.img-responsive.agent-logo(ng-src="{{$root.selectedAgent.logo}}", alt="Agent Logo")
										.bottom
											.custom-tabs-line.tabs-line-bottom
												ul.nav.nav-pills.tabs-iconized(role="tablist")
													li.active
														a(href="#summary", role="tab", data-toggle="tab") Professional Summary
													li
														a(href="#specialties", role="tab", data-toggle="tab") Specialties
													li
														a(href="#contactDetails", role="tab", data-toggle="tab") Contact Details
													//- li
													//-   a(href="#reviews", role="tab", data-toggle="tab") Agent Reviews
											.tab-content.clearfix
												#summary.tab-pane.fade.in.active
													.col-sm-10.col-sm-offset-1
														.section-title
															h4 Professional Summary
															hr
														p.mt20.pb50(ng-bind-html="trustAsHtml($root.selectedAgent.profile)", ng-if="$root.selectedAgent.profile")
														.alert.alert-warning.alert-warning-rw(role="alert", ng-if="!$root.selectedAgent.profile") No professional summary available.
												#specialties.tab-pane.fade.in
													.col-sm-10.col-sm-offset-1
														.section-title
															h4 Agent Specialties
															hr
														.col-sm-8.col-sm-offset-2
															section
																ul.list-unstyled.project-detail-list.mt20
																	li
																		strong Works In:
																		p(ng-if="!$root.selectedAgent.cities") N/A
																		p(ng-if="$root.selectedAgent.cities") {{$root.selectedAgent.cities.join(', ')}}
																	li
																		strong Specialties:
																		p(ng-if="!$root.selectedAgent.specialties") N/A
																		p(ng-if="$root.selectedAgent.specialties") {{$root.selectedAgent.specialties.join(', ')}}
																	li
																		strong Languages:
																		p(ng-if="!$root.selectedAgent.languages") N/A
																		p(ng-if="$root.selectedAgent.languages") {{$root.selectedAgent.languages.join(', ')}}
												#contactDetails.tab-pane.fade.in
													.col-sm-10.col-sm-offset-1
														.section-title
															h4 Contact Details
															hr
														.col-sm-8.col-sm-offset-2
															ul.profile-table
																li
																	.field Company:
																	.value(ng-if="!$root.selectedAgent.company") N/A
																	.value(ng-if="$root.selectedAgent.company") {{$root.selectedAgent.companyName}}
																li
																	.field Address:
																	.value(ng-if="!$root.selectedAgent.address1") N/A
																	.value(ng-if="$root.selectedAgent.address1 && !$root.selectedAgent.address2") {{$root.selectedAgent.address1}}
																	.value(ng-if="$root.selectedAgent.address1 && $root.selectedAgent.address2") {{$root.selectedAgent.address1}}, {{$root.selectedAgent.address2}}
																li
																	.field City, State Zip:
																	.value(ng-if="!$root.selectedAgent.city && !$root.selectedAgent.state && !$root.selectedAgent.zip") N/A
																	.value(ng-if="!$root.selectedAgent.city && $root.selectedAgent.state && $root.selectedAgent.zip") N/A, {{$root.selectedAgent.state}} {{$root.selectedAgent.zip}}
																	.value(ng-if="!$root.selectedAgent.city && $root.selectedAgent.state && !$root.selectedAgent.zip") N/A, {{$root.selectedAgent.state}} N/A
																	.value(ng-if="$root.selectedAgent.city && $root.selectedAgent.state && !$root.selectedAgent.zip") {{$root.selectedAgent.city}}, {{$root.selectedAgent.state}} N/A
																	.value(ng-if="$root.selectedAgent.city && $root.selectedAgent.state && $root.selectedAgent.zip") {{$root.selectedAgent.city}}, {{$root.selectedAgent.state}} {{$root.selectedAgent.zip}}
																li(ng-if="$root.selectedAgent.subscription !== 'Promo'")
																	.field Email:
																	.value Premium Agents Only
																li(ng-if="$root.selectedAgent.subscription === 'Promo'")
																	.field Email:
																	.value(ng-if="!$root.selectedAgent.companyEmail") N/A
																	.value(ng-if="$root.selectedAgent.companyEmail") {{$root.selectedAgent.companyEmail}}
																li(ng-if="$root.selectedAgent.subscription !== 'Promo'")
																	.field Office Phone:
																	.value Premium Agents Only
																li(ng-if="$root.selectedAgent.subscription === 'Promo'")
																	.field Office Phone:
																	.value(ng-if="!$root.selectedAgent.officePhone") N/A
																	.value(ng-if="$root.selectedAgent.officePhone") {{$root.selectedAgent.officePhone}}
																li(ng-if="$root.selectedAgent.subscription !== 'Promo'")
																	.field Direct Phone:
																	.value Premium Agents Only
																li(ng-if="$root.selectedAgent.subscription === 'Promo'")
																	.field Direct Phone:
																	.value(ng-if="!$root.selectedAgent.directPhone") N/A
																	.value(ng-if="$root.selectedAgent.directPhone") {{$root.selectedAgent.directPhone}}
																li(ng-if="$root.selectedAgent.subscription !== 'Promo'")
																	.field Connect:
																	.value Premium Agents Only
																li(ng-if="$root.selectedAgent.subscription === 'Promo'")
																	.field Connect:
																	.value
																		a.fa.fa-globe.fa-lg(ng-href="{{$root.selectedAgent.website}}", target="_blank", title="{{$root.selectedAgent.website}}", ng-if="$root.selectedAgent.website")
																		i.fa.fa-globe.fa-lg.invalid(title="Website URL Not Yet Added", ng-if="!$root.selectedAgent.website")
																		a.fa.fa-linkedin-square.fa-lg(ng-href="{{$root.selectedAgent.linkedIn}}", target="_blank", title="{{$root.selectedAgent.linkedIn}}", ng-if="$root.selectedAgent.linkedIn")
																		i.fa.fa-linkedin-square.fa-lg.invalid(title="LinkedIn Profile Not Yet Added", ng-if="!$root.selectedAgent.linkedIn")
																		a.fa.fa-facebook-square.fa-lg(ng-href="{{$root.selectedAgent.facebook}}", target="_blank", title="{{$root.selectedAgent.facebook}}", ng-if="$root.selectedAgent.facebook")
																		i.fa.fa-facebook-square.fa-lg.invalid(title="Facebook Profile Not Yet Added", ng-if="!$root.selectedAgent.facebook")
																		a.fa.fa-twitter-square.fa-lg(ng-href="{{$root.selectedAgent.twitter}}", target="_blank", title="{{$root.selectedAgent.twitter}}", ng-if="$root.selectedAgent.twitter")
																		i.fa.fa-twitter-square.fa-lg.invalid(title="Twitter Profile Not Yet Added", ng-if="!$root.selectedAgent.twitter")
												//- #reviews.tab-pane.fade.in
												//-   .section-title
												//-     h4 Agent Reviews
												//-   p
												//-     | Distinctively transition innovative resources after compelling human capital. Synergistically provide access to turnkey e-services whereas scalable leadership. Assertively engage next-generation metrics via high-payoff total linkage. Conveniently reintermediate extensible ideas vis-a-vis efficient action agents.
								.modal-footer
									button.btn.btn-rw.btn-danger(data-dismiss="modal") Close

					#agentLoadingModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
						.modal-dialog.modal-lg
							.modal-content
								.modal-header
									center(align="center")
										h4#largeModalLabel.modal-title Loading
								.modal-body
									center(align="center")
										.row
											.form-group.text-center
												label.col-sm-12.text-center Loading matching Real Estate Agents
													i.fa.fa-spinner.fa-pulse.ml5