extends ../../themes/default.jade

block header
	include ../../themes/header-user.jade

block scripts
	script(src="/js/apps/consumer/index.min.js?cache=#{cacheBreaker}")

block body
	script.
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-50168733-1', 'auto');
		ga('send', 'pageview');
	// Google Tag Manager
	noscript
		iframe(src='//www.googletagmanager.com/ns.html?id=GTM-K3ZLZJ', height='0', width='0', style='display:none;visibility:hidden')
	script.
		(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-K3ZLZJ');
	// End Google Tag Manager
	.wrapper
		.container
			div(ng-controller="MessageController")
				.col-md-12
					center(align="center")
						h2.name Messages
						br
						.alert.alert-danger.alert-danger-rw.alert-dismissible(role="alert", ng-if="message && message.length < 1")
							button.close(type="button", data-dismiss="alert")
								span(aria-hidden="true") &#215;
								span.sr-only Close
							| You have no messages yet. You can begin messaging with a Real Estate Agent by clicking, 'Message' on any of the Agents in the, 'Agents' page above.
					table.table.table-hover
						thead
							tr
								th Created
								th Status
								th Agent
								th Message
								//- th Type
								//- th Read
								th Manage
						tbody
							tr(ng-repeat="message in messages | orderBy:'createdAt':true", ng-if="message.consumerDeleted !== 'Yes'")
								td {{message.createdAt | date : 'short'}}
								td
									i.fa.fa-mail-reply(ng-if="message.consumerReplied === 'Yes'", data-container="body", data-trigger="hover", data-toggle="popover", data-placement="top", data-content="A summary about you and your professional qualifications.")
									i.fa.fa-exclamation.false(ng-if="message.createdBy !== 'Consumer' && (message.consumerViewed !== 'Yes' && message.consumerReplied !== 'Yes')")
								td
									| {{message.agent.displayName}}
									a.fa.fa-search.pointer.ml5(data-toggle="modal", data-target="#viewAgentModal", ng-click="$root.selectedMessage = message")
								td
									| {{message.message}}
								//- td {{message.sentBy}}
								//- td {{message.read}}
								td
									button.btn-table.btn-primary(data-toggle="modal", data-target="#viewMessageModal", ng-click="$root.selectedMessage = message") View
									button.btn-table.btn-success(ng-if="message.createdBy !== 'Consumer'", data-toggle="modal", data-target="#agentMessageModal", ng-click="$root.selectedMessage = message") Reply
									button.btn-table.btn-danger(data-toggle="modal", data-target="#removeMessageModal", ng-click="$root.selectedMessage = message") Delete

				#removeMessageModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
					.modal-dialog.modal-lg
						.modal-content
							.modal-header
								button.close(type="button", data-dismiss="modal")
									span(aria-hidden="true") &#215;
									span.sr-only Close
								center(align="center")
									h4#largeModalLabel.modal-title Delete Message
							.modal-body
								form(role="deleteMsgForm", ng-submit="removeMessage(message)")
									center(align="center")
										.row
											.form-group.text-center
												label.col-sm-12.text-center Are you sure you would like to delete this message? {{$root.selectedMessage.message}}
										.row
											center(align="center")
												br
												button.btn.btn-primary.mr10(type="submit") Yes
												button.btn.btn-danger(data-dismiss="modal") No
										.row
											center(align="center")
												.alert.alert-danger.inline.bold(ng-if="error") {{error}}
							//- .modal-footer
							//-  button.btn.btn-rw.btn-danger(data-dismiss="modal") Cancel

				#viewMessageModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
					.modal-dialog.modal-lg
						.modal-content
							.modal-header
								button.close(type="button", data-dismiss="modal")
									span(aria-hidden="true") &#215;
									span.sr-only Close
								center(align="center")
									h4#largeModalLabel.modal-title View Message
							.modal-body
								form(role="viewMsgForm", ng-submit="viewMessage(message)")
									center(align="center")
										.row
											.form-group.text-center
												label.col-sm-12.text-center {{$root.selectedMessage.message}}
										.row
											center(align="center")
												br
												//- button.btn.btn-primary.mr10(type="submit") Send
												button.btn.btn-danger(type="submit") Close
										.row
											center(align="center")
												.alert.alert-danger.inline.bold(ng-if="error") {{error}}
							//- .modal-footer
							//-  button.btn.btn-rw.btn-danger(data-dismiss="modal") Cancel

				#agentMessageModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
					.modal-dialog.modal-lg
						.modal-content
							.modal-header
								button.close(type="button", data-dismiss="modal")
									span(aria-hidden="true") &#215;
									span.sr-only Close
								center(align="center")
									h4#largeModalLabel.modal-title View/Reply To Message
							.modal-body
								form(role="replyMsgForm", ng-submit="replyMessage()")
									center(align="center")
										.row
											.form-group.text-center
												label.col-sm-12.text-center {{$root.selectedMessage.message}}
										.row
											.col-xs-10
												textarea.form-control(placeholder='Message', rows='4', ng-model="$root.message.message")
											//- input#message.form-control(type="text", name="message", ng-model="$root.message.message", ng-required="false", placeholder="Message")
											center(align="center")
												br
												button.btn.btn-primary.mr80.mt15(type="submit") Send
												//- button.btn.btn-danger(data-dismiss="modal") Close
										.row
											center(align="center")
												.alert.alert-danger.inline.bold(ng-if="error") {{error}}
							.modal-footer
								button.btn.btn-rw.btn-danger(data-dismiss="modal") Cancel

				#viewAgentModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
					.modal-dialog.modal-lg
						.modal-content
							.modal-body
								center(align="center")
									.modal-title {{$root.selectedMessage.agent.displayName}}
									.modal-subtitle {{$root.selectedMessage.agent.companyName}}
								.single-product
									.row
										.col-md-3
											#product-images.carousel.slide.product-images(data-ride="carousel", data-interval="false")
												.carousel-inner
													.item.active(ng-if="!$root.selectedMessage.agent.photo")
														img.img-responsive.agent-photo(src="/images/photo-unavailable.jpg", alt="Agent Photo")
													.item.active(ng-if="$root.selectedMessage.agent.photo")
														img.img-responsive.agent-photo(ng-src="{{$root.selectedMessage.agent.photo}}", alt="Agent Photo")
											.clearfix
										.col-md-6
											section.product-info.no-margin
												table.table.table-striped
													tr
														th.col-xs-4 Works In:
														td(ng-if="!$root.selectedMessage.agent.cities") N/A
														td(ng-if="$root.selectedMessage.agent.cities") {{$root.selectedMessage.agent.cities.join(', ')}}
													tr
														th.col-xs-4 Specialties:
														td(ng-if="!$root.selectedMessage.agent.specialties") N/A
														td(ng-if="$root.selectedMessage.agent.specialties") {{$root.selectedMessage.agent.specialties.join(', ')}}
													tr
														th.col-xs-4 Agent Since:
														td(ng-if="!$root.selectedMessage.agent.agentSince") N/A
														td(ng-if="$root.selectedMessage.agent.agentSince") {{$root.selectedMessage.agent.agentSince}}
													tr
														th.col-xs-4 Direct Phone:
														td.blue(ng-if="$root.selectedMessage.agent.subscription !== 'Promo'") Premium Agents Only
														td(ng-if="$root.selectedMessage.agent.subscription === 'Promo' && !$root.selectedMessage.agent.directPhone") N/A
														td(ng-if="$root.selectedMessage.agent.subscription === 'Promo' && $root.selectedMessage.agent.directPhone") {{$root.selectedMessage.agent.directPhone}}
													tr
														th.col-xs-4 Email:
														td.blue(ng-if="$root.selectedMessage.agent.subscription !== 'Promo'") Premium Agents Only
														td(ng-if="$root.selectedMessage.agent.subscription === 'Promo' && !$root.selectedMessage.agent.companyEmail") N/A
														td(ng-if="$root.selectedMessage.agent.subscription === 'Promo' && $root.selectedMessage.agent.companyEmail") {{$root.selectedMessage.agent.companyEmail}}
													tr
														th.col-xs-4 Connect:
														td.blue(ng-if="$root.selectedMessage.agent.subscription !== 'Promo'") Premium Agents Only
														td(ng-if="$root.selectedMessage.agent.subscription === 'Promo'")
															a.fa.fa-globe.fa-lg(ng-href="{{$root.selectedMessage.agent.website}}", target="_blank", title="{{$root.selectedMessage.agent.website}}", ng-if="$root.selectedMessage.agent.website")
															i.fa.fa-globe.fa-lg.invalid(title="Website URL Not Yet Added", ng-if="!$root.selectedMessage.agent.website")
															a.fa.fa-linkedin-square.fa-lg(ng-href="{{$root.selectedMessage.agent.linkedIn}}", target="_blank", title="{{$root.selectedMessage.agent.linkedIn}}", ng-if="$root.selectedMessage.agent.linkedIn")
															i.fa.fa-linkedin-square.fa-lg.invalid(title="LinkedIn Profile Not Yet Added", ng-if="!$root.selectedMessage.agent.linkedIn")
															a.fa.fa-facebook-square.fa-lg(ng-href="{{$root.selectedMessage.agent.facebook}}", target="_blank", title="{{$root.selectedMessage.agent.facebook}}", ng-if="$root.selectedMessage.agent.facebook")
															i.fa.fa-facebook-square.fa-lg.invalid(title="Facebook Profile Not Yet Added", ng-if="!$root.selectedMessage.agent.facebook")
															a.fa.fa-twitter-square.fa-lg(ng-href="{{$root.selectedMessage.agent.twitter}}", target="_blank", title="{{$root.selectedMessage.agent.twitter}}", ng-if="$root.selectedMessage.agent.twitter")
															i.fa.fa-twitter-square.fa-lg.invalid(title="Twitter Profile Not Yet Added", ng-if="!$root.selectedMessage.agent.twitter")
											center(align="center")
												a.btn.btn-danger.btn-subtitle.mr10(ng-click="faveLead(item)")
													i.fa.fa-heart.button-icon
													| Favorite
												a.btn.btn-success.btn-subtitle(ng-click="messageAgent(item)")
													i.fa.fa-envelope.button-icon
													| Message
										.col-md-3
											#product-images.carousel.slide.product-images(data-ride="carousel", data-interval="false")
												.carousel-inner
													.item.active(ng-if="!$root.selectedMessage.agent.logo")
														img.img-responsive.agent-logo(src="/images/logo-unavailable.jpg", alt="Agent Logo")
													.item.active(ng-if="$root.selectedMessage.agent.logo")
														img.img-responsive.agent-logo(ng-src="{{$root.selectedMessage.agent.logo}}", alt="Agent Logo")
									.bottom
										.custom-tabs-line.tabs-line-bottom
											ul.nav.nav-pills.tabs-iconized(role="tablist")
												li.active
													a(href="#summary", role="tab", data-toggle="tab") Professional Summary
												li
													a(href="#specialties", role="tab", data-toggle="tab") Specialties
												li
													a(href="#contactDetails", role="tab", data-toggle="tab") Contact Details
												//- li
												//-   a(href="#reviews", role="tab", data-toggle="tab") Agent Reviews
										.tab-content.clearfix
											#summary.tab-pane.fade.in.active
												.col-sm-10.col-sm-offset-1
													.section-title
														h4 Professional Summary
														hr
													p.mt20.pb50(ng-bind-html="trustAsHtml($root.selectedMessage.agent.profile)", ng-if="$root.selectedMessage.agent.profile")
													.alert.alert-warning.alert-warning-rw(role="alert", ng-if="!$root.selectedMessage.agent.profile") No professional summary available.
											#specialties.tab-pane.fade.in
												.col-sm-10.col-sm-offset-1
													.section-title
														h4 Agent Specialties
														hr
													.col-sm-8.col-sm-offset-2
														section
															ul.list-unstyled.project-detail-list.mt20
																li
																	strong Works In:
																	p(ng-if="!$root.selectedMessage.agent.cities") N/A
																	p(ng-if="$root.selectedMessage.agent.cities") {{$root.selectedMessage.agent.cities.join(', ')}}
																li
																	strong Specialties:
																	p(ng-if="!$root.selectedMessage.agent.specialties") N/A
																	p(ng-if="$root.selectedMessage.agent.specialties") {{$root.selectedMessage.agent.specialties.join(', ')}}
																li
																	strong Languages:
																	p(ng-if="!$root.selectedMessage.agent.languages") N/A
																	p(ng-if="$root.selectedMessage.agent.languages") {{$root.selectedMessage.agent.languages.join(', ')}}
											#contactDetails.tab-pane.fade.in
												.col-sm-10.col-sm-offset-1
													.section-title
														h4 Contact Details
														hr
													.col-sm-8.col-sm-offset-2
														ul.profile-table
															li
																.field Company:
																.value(ng-if="!$root.selectedMessage.agent.company") N/A
																.value(ng-if="$root.selectedMessage.agent.company") {{$root.selectedMessage.agent.companyName}}
															li
																.field Address:
																.value(ng-if="!$root.selectedMessage.agent.address1") N/A
																.value(ng-if="$root.selectedMessage.agent.address1 && !$root.selectedMessage.agent.address2") {{$root.selectedMessage.agent.address1}}
																.value(ng-if="$root.selectedMessage.agent.address1 && $root.selectedMessage.agent.address2") {{$root.selectedMessage.agent.address1}}, {{$root.selectedMessage.agent.address2}}
															li
																.field City, State Zip:
																.value(ng-if="!$root.selectedMessage.agent.city && !$root.selectedMessage.agent.state && !$root.selectedMessage.agent.zip") N/A
																.value(ng-if="!$root.selectedMessage.agent.city && $root.selectedMessage.agent.state && $root.selectedMessage.agent.zip") N/A, {{$root.selectedMessage.agent.state}} {{$root.selectedMessage.agent.zip}}
																.value(ng-if="!$root.selectedMessage.agent.city && $root.selectedMessage.agent.state && !$root.selectedMessage.agent.zip") N/A, {{$root.selectedMessage.agent.state}} N/A
																.value(ng-if="$root.selectedMessage.agent.city && $root.selectedMessage.agent.state && !$root.selectedMessage.agent.zip") {{$root.selectedMessage.agent.city}}, {{$root.selectedMessage.agent.state}} N/A
																.value(ng-if="$root.selectedMessage.agent.city && $root.selectedMessage.agent.state && $root.selectedMessage.agent.zip") {{$root.selectedMessage.agent.city}}, {{$root.selectedMessage.agent.state}} {{$root.selectedMessage.agent.zip}}
															li(ng-if="$root.selectedMessage.agent.subscription !== 'Promo'")
																.field Email:
																.value Premium Agents Only
															li(ng-if="$root.selectedMessage.agent.subscription === 'Promo'")
																.field Email:
																.value(ng-if="!$root.selectedMessage.agent.companyEmail") N/A
																.value(ng-if="$root.selectedMessage.agent.companyEmail") {{$root.selectedMessage.agent.companyEmail}}
															li(ng-if="$root.selectedMessage.agent.subscription !== 'Promo'")
																.field Office Phone:
																.value Premium Agents Only
															li(ng-if="$root.selectedMessage.agent.subscription === 'Promo'")
																.field Office Phone:
																.value(ng-if="!$root.selectedMessage.agent.officePhone") N/A
																.value(ng-if="$root.selectedMessage.agent.officePhone") {{$root.selectedMessage.agent.officePhone}}
															li(ng-if="$root.selectedMessage.agent.subscription !== 'Promo'")
																.field Direct Phone:
																.value Premium Agents Only
															li(ng-if="$root.selectedMessage.agent.subscription === 'Promo'")
																.field Direct Phone:
																.value(ng-if="!$root.selectedMessage.agent.directPhone") N/A
																.value(ng-if="$root.selectedMessage.agent.directPhone") {{$root.selectedMessage.agent.directPhone}}
															li(ng-if="$root.selectedMessage.agent.subscription !== 'Promo'")
																.field Connect:
																.value Premium Agents Only
															li(ng-if="$root.selectedMessage.agent.subscription === 'Promo'")
																.field Connect:
																.value
																	a.fa.fa-globe.fa-lg(ng-href="{{$root.selectedMessage.agent.website}}", target="_blank", title="{{$root.selectedMessage.agent.website}}", ng-if="$root.selectedMessage.agent.website")
																	i.fa.fa-globe.fa-lg.invalid(title="Website URL Not Yet Added", ng-if="!$root.selectedMessage.agent.website")
																	a.fa.fa-linkedin-square.fa-lg(ng-href="{{$root.selectedMessage.agent.linkedIn}}", target="_blank", title="{{$root.selectedMessage.agent.linkedIn}}", ng-if="$root.selectedMessage.agent.linkedIn")
																	i.fa.fa-linkedin-square.fa-lg.invalid(title="LinkedIn Profile Not Yet Added", ng-if="!$root.selectedMessage.agent.linkedIn")
																	a.fa.fa-facebook-square.fa-lg(ng-href="{{$root.selectedMessage.agent.facebook}}", target="_blank", title="{{$root.selectedMessage.agent.facebook}}", ng-if="$root.selectedMessage.agent.facebook")
																	i.fa.fa-facebook-square.fa-lg.invalid(title="Facebook Profile Not Yet Added", ng-if="!$root.selectedMessage.agent.facebook")
																	a.fa.fa-twitter-square.fa-lg(ng-href="{{$root.selectedMessage.agent.twitter}}", target="_blank", title="{{$root.selectedMessage.agent.twitter}}", ng-if="$root.selectedMessage.agent.twitter")
																	i.fa.fa-twitter-square.fa-lg.invalid(title="Twitter Profile Not Yet Added", ng-if="!$root.selectedMessage.agent.twitter")
											//- #reviews.tab-pane.fade.in
											//-   .section-title
											//-     h4 Agent Reviews
											//-   p
											//-     | Distinctively transition innovative resources after compelling human capital. Synergistically provide access to turnkey e-services whereas scalable leadership. Assertively engage next-generation metrics via high-payoff total linkage. Conveniently reintermediate extensible ideas vis-a-vis efficient action items.
							.modal-footer
								button.btn.btn-rw.btn-danger(data-dismiss="modal") Close

				#messageLoadingModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
					.modal-dialog.modal-lg
						.modal-content
							.modal-header
								center(align="center")
									h4#largeModalLabel.modal-title Loading
							.modal-body
								center(align="center")
									.row
										.form-group.text-center
											label.col-sm-12.text-center Loading messages
												i.fa.fa-spinner.fa-pulse.ml5

				#deletedModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
					.modal-dialog.modal-lg
						.modal-content
							.modal-header
								center(align="center")
									h4#largeModalLabel.modal-title Success
							.modal-body
								center(align="center")
									.row
										.form-group.text-center
											label.col-sm-12.text-center Message deleted!

				#sentModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
					.modal-dialog.modal-lg
						.modal-content
							.modal-header
								center(align="center")
									h4#largeModalLabel.modal-title Success
							.modal-body
								center(align="center")
									.row
										.form-group.text-center
											label.col-sm-12.text-center Message sent!
