extends ../../themes/default.jade

block header
	include ../../themes/header-user.jade

block scripts
	script(src="/js/apps/consumer/index.min.js?cache=#{cacheBreaker}")

block body
	script.
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-50168733-1', 'auto');
		ga('send', 'pageview');
	// Google Tag Manager
	noscript
		iframe(src='//www.googletagmanager.com/ns.html?id=GTM-K3ZLZJ', height='0', width='0', style='display:none;visibility:hidden')
	script.
		(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-K3ZLZJ');
	// End Google Tag Manager
	.wrapper
		center(align="center")
			script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
			// Consumer Profile
			ins.adsbygoogle(style='display:inline-block;width:728px;height:90px', data-ad-client='ca-pub-4950211747544966', data-ad-slot='6601465138')
			script.
				(adsbygoogle = window.adsbygoogle || []).push({});
	.wrapper
		.container
			div(ng-controller="ProfileController")
				center(align="center")
					h2.subtitle {{$root.consumer.profileName}}
				br
				section
					.col-sm-10.col-sm-offset-1
						.custom-tabs-left
							ul.nav.nav-tabs.tabs-iconized(ng-if="$root.consumer.buyer === 'Yes' && $root.consumer.seller === 'No'")
								li.active
									a(href="#buyerDetails", data-toggle="tab")
										| Details
								//- li
								//-   a(href="#profile", data-toggle="tab")
								//-     | Profile
							ul.nav.nav-tabs.tabs-iconized(ng-if="$root.consumer.buyer === 'Yes' && $root.consumer.seller === 'Yes'")
								li.active
									a(href="#sellerDetails", data-toggle="tab")
										| My Home
								li
									a(href="#buyerDetails", data-toggle="tab")
										| Next Home
								//- li
								//-   a(href="#profile", data-toggle="tab")
								//-     | Profile
							ul.nav.nav-tabs.tabs-iconized(ng-if="$root.consumer.buyer === 'No' && $root.consumer.seller === 'Yes'")
								li.active
									a(href="#sellerDetails", data-toggle="tab")
										| My Home
								//- li
								//-   a(href="#profile", data-toggle="tab")
								//-     | Profile
						.tab-content.clearfix.col-md-10(ng-if="$root.consumer.seller === 'Yes' && $root.consumer.buyer === 'No'")
							#sellerDetails.tab-pane.fade.in.active
								.col-sm-6
									.section-title
										h4 My Current Home
										a.fa.fa-edit.fa-profile(data-toggle="modal", data-target="#sellerDetailsModal")
										hr
									ul.profile-table
										li
											.field Selling Timeframe:
											.value(ng-if="!$root.consumer.timeframe") N/A
											.value(ng-if="$root.consumer.timeframe") {{$root.consumer.timeframe}}
										li
											.field Price Range:
											.value(ng-if="!$root.consumer.sellerPriceMin && !$root.consumer.sellerPriceMax") N/A
											.value(ng-if="$root.consumer.sellerPriceMin && $root.consumer.sellerPriceMax") {{$root.consumer.sellerPriceMin | currency : $ : 0}} to {{$root.consumer.sellerPriceMax | currency : $ : 0}}
										li
											.field Property Type:
											.value(ng-if="!$root.consumer.sellerPropType") N/A
											.value(ng-if="$root.consumer.sellerPropType") {{$root.consumer.sellerPropType}}
										li
											.field Property Style:
											.value(ng-if="!$root.consumer.sellerPropStyle") N/A
											.value(ng-if="$root.consumer.sellerPropStyle") {{$root.consumer.sellerPropStyle}}
										li
											.field Bedrooms:
											.value(ng-if="!$root.consumer.sellerBeds") N/A
											.value(ng-if="$root.consumer.sellerBeds") {{$root.consumer.sellerBeds}}
										li
											.field Bathrooms:
											.value(ng-if="!$root.consumer.sellerBaths") N/A
											.value(ng-if="$root.consumer.sellerBaths") {{$root.consumer.sellerBaths}}
										li
											.field Square Feet:
											.value(ng-if="!$root.consumer.sellerSqft") N/A
											.value(ng-if="$root.consumer.sellerSqft") {{$root.consumer.sellerSqft | number : 0}}
										li
											.field City, State:
											.value(ng-if="!$root.consumer.sellerCity && $root.consumer.state") N/A, {{$root.consumer.state}}
											.value(ng-if="$root.consumer.sellerCity && $root.consumer.state") {{$root.consumer.sellerCity}}, {{$root.consumer.state}}
										li
											.field Parking Type:
											.value(ng-if="!$root.consumer.sellerParkingType") N/A
											.value(ng-if="$root.consumer.sellerParkingType") {{$root.consumer.sellerParkingType}}
										li
											.field Parking Spaces:
											.value(ng-if="!$root.consumer.sellerParkingSpaces") N/A
											.value(ng-if="$root.consumer.sellerParkingSpaces") {{$root.consumer.sellerParkingSpaces}}
										li
											.field Basement:
											.value(ng-if="!$root.consumer.sellerBasementType") N/A
											.value(ng-if="$root.consumer.sellerBasementType") {{$root.consumer.sellerBasementType}}
										li
											.field School District:
											.value(ng-if="!$root.consumer.sellerSchoolDist") N/A
											.value(ng-if="$root.consumer.sellerSchoolDist") {{$root.consumer.sellerSchoolDist}}
										li
											.field HOA Fee:
											.value(ng-if="!$root.consumer.sellerHoaFee && !$root.consumer.sellerHoaTerm") N/A
											.value(ng-if="$root.consumer.sellerHoaFee && $root.consumer.sellerHoaTerm") {{$root.consumer.sellerHoaFee | currency : $ : 0}} per {{$root.consumer.sellerHoaTerm}}
										li
											.field Lot Size:
											.value(ng-if="!$root.consumer.sellerLotSize") N/A
											.value(ng-if="$root.consumer.sellerLotSize") {{$root.consumer.sellerLotSize | number : 0}}
										li
											.field Year Built:
											.value(ng-if="!$root.consumer.sellerYearBuilt") N/A
											.value(ng-if="$root.consumer.sellerYearBuilt") {{$root.consumer.sellerYearBuilt}}
								.col-sm-6
									.section-title
										h4 Seller Remarks
										a.fa.fa-edit.fa-profile(data-toggle="modal", data-target="#sellerRemarksModal")
										hr
									p.mt10(ng-bind-html="trustAsHtml($root.consumer.sellerRemarks)", ng-if="$root.consumer.sellerRemarks")
									.alert.alert-warning.alert-warning-rw(role="alert", ng-if="!$root.consumer.sellerRemarks") Please click the, 'Edit Profile' button above to add custom information about your home.
						.tab-content.clearfix.col-md-10(ng-if="$root.consumer.seller === 'Yes' && $root.consumer.buyer === 'Yes'")
							#sellerDetails.tab-pane.fade.in.active
								.col-sm-6
									.section-title
										h4 My Current Home
										a.fa.fa-edit.fa-profile(data-toggle="modal", data-target="#sellerDetailsModal")
										hr
									ul.profile-table
										li
											.field Selling Timeframe:
											.value(ng-if="!$root.consumer.timeframe") N/A
											.value(ng-if="$root.consumer.timeframe") {{$root.consumer.timeframe}}
										li
											.field Price Range:
											.value(ng-if="!$root.consumer.sellerPriceMin && !$root.consumer.sellerPriceMax") N/A
											.value(ng-if="$root.consumer.sellerPriceMin && $root.consumer.sellerPriceMax") {{$root.consumer.sellerPriceMin | currency : $ : 0}} to {{$root.consumer.sellerPriceMax | currency : $ : 0}}
										li
											.field Property Type:
											.value(ng-if="!$root.consumer.sellerPropType") N/A
											.value(ng-if="$root.consumer.sellerPropType") {{$root.consumer.sellerPropType}}
										li
											.field Property Style:
											.value(ng-if="!$root.consumer.sellerPropStyle") N/A
											.value(ng-if="$root.consumer.sellerPropStyle") {{$root.consumer.sellerPropStyle}}
										li
											.field Bedrooms:
											.value(ng-if="!$root.consumer.sellerBeds") N/A
											.value(ng-if="$root.consumer.sellerBeds") {{$root.consumer.sellerBeds}}
										li
											.field Bathrooms:
											.value(ng-if="!$root.consumer.sellerBaths") N/A
											.value(ng-if="$root.consumer.sellerBaths") {{$root.consumer.sellerBaths}}
										li
											.field Square Feet:
											.value(ng-if="!$root.consumer.sellerSqft") N/A
											.value(ng-if="$root.consumer.sellerSqft") {{$root.consumer.sellerSqft | number : 0}}
										li
											.field City, State:
											.value(ng-if="!$root.consumer.sellerCity && $root.consumer.state") N/A, {{$root.consumer.state}}
											.value(ng-if="$root.consumer.sellerCity && $root.consumer.state") {{$root.consumer.sellerCity}}, {{$root.consumer.state}}
										li
											.field Parking Type:
											.value(ng-if="!$root.consumer.sellerParkingType") N/A
											.value(ng-if="$root.consumer.sellerParkingType") {{$root.consumer.sellerParkingType}}
										li
											.field Parking Spaces:
											.value(ng-if="!$root.consumer.sellerParkingSpaces") N/A
											.value(ng-if="$root.consumer.sellerParkingSpaces") {{$root.consumer.sellerParkingSpaces}}
										li
											.field Basement:
											.value(ng-if="!$root.consumer.sellerBasementType") N/A
											.value(ng-if="$root.consumer.sellerBasementType") {{$root.consumer.sellerBasementType}}
										li
											.field School District:
											.value(ng-if="!$root.consumer.sellerSchoolDist") N/A
											.value(ng-if="$root.consumer.sellerSchoolDist") {{$root.consumer.sellerSchoolDist}}
										li
											.field HOA Fee:
											.value(ng-if="!$root.consumer.sellerHoaFee && !$root.consumer.sellerHoaTerm") N/A
											.value(ng-if="$root.consumer.sellerHoaFee && $root.consumer.sellerHoaTerm") {{$root.consumer.sellerHoaFee | currency : $ : 0}} per {{$root.consumer.sellerHoaTerm}}
										li
											.field Lot Size:
											.value(ng-if="!$root.consumer.sellerLotSize") N/A
											.value(ng-if="$root.consumer.sellerLotSize") {{$root.consumer.sellerLotSize | number : 0}}
										li
											.field Year Built:
											.value(ng-if="!$root.consumer.sellerYearBuilt") N/A
											.value(ng-if="$root.consumer.sellerYearBuilt") {{$root.consumer.sellerYearBuilt}}
								.col-sm-6
									.section-title
										h4 Seller Remarks
										a.fa.fa-edit.fa-profile(data-toggle="modal", data-target="#sellerRemarksModal")
										hr
									p.mt10(ng-bind-html="trustAsHtml($root.consumer.sellerRemarks)", ng-if="$root.consumer.sellerRemarks")
									.alert.alert-warning.alert-warning-rw(role="alert", ng-if="!$root.consumer.sellerRemarks") Please click the, 'Edit Profile' button above to add custom information about your home.
							#buyerDetails.tab-pane.fade.in
								.col-sm-6
									.section-title
										h4 Next Home Details
										a.fa.fa-edit.fa-profile(data-toggle="modal", data-target="#buyerDetailsModal")
										hr
									ul.profile-table
										li
											.field Buying Timeframe:
											.value(ng-if="!$root.consumer.timeframe") N/A
											.value(ng-if="$root.consumer.timeframe") {{$root.consumer.timeframe}}
										li
											.field Property Type:
											.value(ng-if="!$root.consumer.buyerPropType") N/A
											.value(ng-if="$root.consumer.buyerPropType") {{$root.consumer.buyerPropType}}
										li
											.field Price Range:
											.value(ng-if="!$root.consumer.buyerPriceMin && !$root.consumer.buyerPriceMax") N/A
											.value(ng-if="$root.consumer.buyerPriceMin && $root.consumer.buyerPriceMax") {{$root.consumer.buyerPriceMin | currency : $ : 0}} to {{$root.consumer.buyerPriceMax | currency : $ : 0}}
										li
											.field Bedrooms:
											.value(ng-if="!$root.consumer.buyerBedsMin && !$root.consumer.buyerBedsMax") N/A
											.value(ng-if="$root.consumer.buyerBedsMin && $root.consumer.buyerBedsMax") {{$root.consumer.buyerBedsMin}} to {{$root.consumer.buyerBedsMax}}
										li
											.field Bathrooms:
											.value(ng-if="!$root.consumer.buyerBathsMin && !$root.consumer.buyerBathsMax") N/A
											.value(ng-if="$root.consumer.buyerBathsMin && $root.consumer.buyerBathsMax") {{$root.consumer.buyerBathsMin}} to {{$root.consumer.buyerBathsMax}}
										li
											.field Square Feet:
											.value(ng-if="!$root.consumer.buyerSqftMin && !$root.consumer.buyerSqftMax") N/A
											.value(ng-if="$root.consumer.buyerSqftMin && $root.consumer.buyerSqftMax") {{$root.consumer.buyerSqftMin | number : 0}} to {{$root.consumer.buyerSqftMax | number : 0}}
										li
											.field Cities:
											.value(ng-if="!$root.consumer.buyerCities") N/A
											.value(ng-if="$root.consumer.buyerCities") {{$root.consumer.buyerCities.join(', ')}}
								.col-sm-6
									.section-title
										h4 Buyer Remarks
										a.fa.fa-edit.fa-profile(data-toggle="modal", data-target="#buyerRemarksModal")
										hr
									p.mt10(ng-bind-html="trustAsHtml($root.consumer.buyerRemarks)", ng-if="$root.consumer.buyerRemarks")
									.alert.alert-warning.alert-warning-rw(role="alert", ng-if="!$root.consumer.buyerRemarks") Please click the, 'Edit Profile' button above to add custom remarks about features you are looking for in your next home.
							//- #profile.tab-pane.fade
							//-   section
							//-     .section-title
							//-       h4 Buyer Profile
							//-       button.btn.btn-rw.btn-primary.btn-subtitle(data-toggle="modal", data-target="#buyerProfileModal", ng-if="buyer") Edit Profile
							//-     ul.profile-table
							//-       li
							//-         .field Profile:
							//-         .value {{$root.consumer.profileData.join(', ')}}
						.tab-content.clearfix.col-md-10(ng-if="$root.consumer.buyer === 'Yes' && $root.consumer.seller === 'No'")
							#buyerDetails.tab-pane.fade.in.active
								.col-sm-6
									.section-title
										h4 Next Home Details
										a.fa.fa-edit.fa-profile(data-toggle="modal", data-target="#buyerDetailsModal")
										hr
									ul.profile-table
										li
											.field Buying Timeframe:
											.value(ng-if="!$root.consumer.timeframe") N/A
											.value(ng-if="$root.consumer.timeframe") {{$root.consumer.timeframe}}
										li
											.field Property Type:
											.value(ng-if="!$root.consumer.buyerPropType") N/A
											.value(ng-if="$root.consumer.buyerPropType") {{$root.consumer.buyerPropType}}
										li
											.field Price Range:
											.value(ng-if="!$root.consumer.buyerPriceMin && !$root.consumer.buyerPriceMax") N/A
											.value(ng-if="$root.consumer.buyerPriceMin && $root.consumer.buyerPriceMax") {{$root.consumer.buyerPriceMin | currency : $ : 0}} to {{$root.consumer.buyerPriceMax | currency : $ : 0}}
										li
											.field Bedrooms:
											.value(ng-if="!$root.consumer.buyerBedsMin && !$root.consumer.buyerBedsMax") N/A
											.value(ng-if="$root.consumer.buyerBedsMin && $root.consumer.buyerBedsMax") {{$root.consumer.buyerBedsMin}} to {{$root.consumer.buyerBedsMax}}
										li
											.field Bathrooms:
											.value(ng-if="!$root.consumer.buyerBathsMin && !$root.consumer.buyerBathsMax") N/A
											.value(ng-if="$root.consumer.buyerBathsMin && $root.consumer.buyerBathsMax") {{$root.consumer.buyerBathsMin}} to {{$root.consumer.buyerBathsMax}}
										li
											.field Square Feet:
											.value(ng-if="!$root.consumer.buyerSqftMin && !$root.consumer.buyerSqftMax") N/A
											.value(ng-if="$root.consumer.buyerSqftMin && $root.consumer.buyerSqftMax") {{$root.consumer.buyerSqftMin | number : 0}} to {{$root.consumer.buyerSqftMax | number : 0}}
										li
											.field Cities:
											.value(ng-if="!$root.consumer.buyerCities") N/A
											.value(ng-if="$root.consumer.buyerCities") {{$root.consumer.buyerCities.join(', ')}}
								.col-sm-6
									.section-title
										h4 Buyer Remarks
										a.fa.fa-edit.fa-profile(data-toggle="modal", data-target="#buyerRemarksModal")
										hr
									p.mt10(ng-bind-html="trustAsHtml($root.consumer.buyerRemarks)", ng-if="$root.consumer.buyerRemarks")
									.alert.alert-warning.alert-warning-rw(role="alert", ng-if="!$root.consumer.buyerRemarks") Please click the, 'Edit Profile' button above to add custom remarks about features you are looking for in your next home.
							//- #profile.tab-pane.fade
							//-   section
							//-     .section-title
							//-       h4 Buyer Profile
							//-       button.btn.btn-rw.btn-primary.btn-subtitle(data-toggle="modal", data-target="#buyerProfileModal", ng-if="buyer") Edit Profile
							//-     ul.profile-table
							//-       li
							//-         .field Profile:
							//-         .value {{$root.consumer.profileData.join(', ')}}

				#profileSuccessModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
					.modal-dialog.modal-lg
						.modal-content
							.modal-header
								//- button.close(type="button", data-dismiss="modal")
								//-   span(aria-hidden="true") &#215;
								//-   span.sr-only Close
								center(align="center")
									h4#largeModalLabel.modal-title Success!
							.modal-body
								form(role="profileSuccessForm", ng-submit="profileSuccess()")
									center(align="center")
										.row
											.form-group.text-center
												label.col-sm-12.text-center Profile successfully saved!
										.row
											center(align="center")
												button.btn.btn-primary(type="submit")
													i.fa.fa-thumbs-up.mr5
													| Ok

				#buyerRemarksModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
					.modal-dialog.modal-lg
						.modal-content
							.modal-header
								button.close(type="button", data-dismiss="modal")
									span(aria-hidden="true") &#215;
									span.sr-only Close
								center(align="center")
									h4#largeModalLabel.modal-title Edit Profile
							.modal-body
								form(role="remarksform", ng-submit="editBuyer()")
									.row
										.form-group.col-xs-12
											label Remarks
											i.fa.fa-question-circle.blue.ml5(data-container="body", data-trigger="hover", data-toggle="popover", data-placement="top", data-content="A summary about what features you are looking for in your next home (i.e. Contemporary, near work, etc.)")
											textarea(ckeditor="editorOptions", ng-model="$root.consumer.buyerRemarks")
									center(align="center")
										.row
											br
											button.btn.btn-rw.btn-primary(type="submit") Save Profile
							.modal-footer
								button.btn.btn-rw.btn-danger(data-toggle="modal", data-target="#cancelBuyerRemarks") Discard

				#cancelBuyerRemarks.modal.fade(tabindex="-1", role="dialog", aria-labelledby="cancelModal", aria-hidden="true")
					.modal-dialog.modal-md
						.modal-content
							.modal-header
								button.close(type="button", data-dismiss="modal")
									span(aria-hidden="true") &#215;
									span.sr-only Close
								center(align="center")
									h4#cancelModal.modal-title Cancel Profile Update
							.modal-body
								form(role="form", name="remarksCancel" ng-submit="cancelBuyerRemarks()")
									center(align="center")
										| Are you sure you want to cancel creating/updating your profile? NOTE: This cannot be undone.
									br
									.row
										center(align="center")
											button.btn.btn-rw.btn-success(data-dismiss="modal") Keep
											button.btn.btn-rw.btn-danger(data-toggle="modal", data-target="#buyerRemarksModal", data-dismiss="modal") Discard

				#buyerDetailsModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
					.modal-dialog.modal-lg
						.modal-content
							.modal-header
								button.close(type="button", data-dismiss="modal")
									span(aria-hidden="true") &#215;
									span.sr-only Close
								center(align="center")
									h4#largeModalLabel.modal-title My Next Home
							.modal-body
								form(role="form", name="detailsForm", ng-submit="editBuyer()")
									.row
										.form-group.col-md-6
											label Property Type
											select.form-control(name="propType", placeholder="Select", ng-model="$root.consumer.buyerPropType", ng-required="false")
												option(value='') Select
												option(value='House - Detached') House - Detached
												option(value='House - Attached') House - Attached
												option(value='Condo') Condo
												option(value='Multi-Unit') Multi-Unit
												option(value='Other') Other
										.form-group.col-md-6
											label Property Style
											select.form-control(name="propStyle", placeholder="Select", ng-model="$root.consumer.buyerPropStyle", ng-required="false")
												option(value='') Select
												option(value='2 Story') 2 Story
												option(value='3+ Story') 3+ Story
												option(value='Townhome') Townhome
												option(value='Condo') Condo
												option(value='Other') Other
									.row
										.form-group.col-md-2
											label Bedrooms
											select#bedsMin.form-control(name="bedsMin", placeholder="Minimum", ng-model="$root.consumer.buyerBedsMin", ng-required="false")
												option(value='') Minimum
												option(value='1') 1
												option(value='2') 2
												option(value='3') 3
												option(value='4') 4
												option(value='5') 5
												option(value='6') 6
												option(value='7') 7
												option(value='8') 8
												option(value='9') 9
												option(value='10') 10
										.col-xs-1
											.range
												| to
										.form-group.col-md-2
											select#bedsMax.form-control.form-max(name="bedsMax", placeholder="Maximum", ng-model="$root.consumer.buyerBedsMax", ng-required="false")
												option(value='') Maximum
												option(value='1') 1
												option(value='2') 2
												option(value='3') 3
												option(value='4') 4
												option(value='5') 5
												option(value='6') 6
												option(value='7') 7
												option(value='8') 8
												option(value='9') 9
												option(value='10') 10
									.row
										.form-group.col-md-2
											label Bathrooms
											select#bathsMin.form-control(name="bathsMin", placeholder="Minimum", ng-model="$root.consumer.buyerBathsMin", ng-required="false")
												option(value='') Select
												option(value='1') 1
												option(value='2') 2
												option(value='3') 3
												option(value='4') 4
												option(value='5') 5
												option(value='6') 6
												option(value='7') 7
												option(value='8') 8
												option(value='9') 9
												option(value='10') 10
										.col-xs-1
											.range
												| to
										.form-group.col-md-2
											select#bathsMax.form-control.form-max(name="bathsMax", placeholder="Minimum", ng-model="$root.consumer.buyerBathsMax", ng-required="false")
												option(value='') Select
												option(value='1') 1
												option(value='2') 2
												option(value='3') 3
												option(value='4') 4
												option(value='5') 5
												option(value='6') 6
												option(value='7') 7
												option(value='8') 8
												option(value='9') 9
												option(value='10') 10
									.row
										.form-group.col-md-3
											label Square Feet
											input#InputMinSqft.form-control(name="sqftMin", type="number", placeholder="Minimum", ng-model="$root.consumer.buyerSqftMin", ng-required="false")
										.col-xs-1
											.range
												| to
										.form-group.col-md-3
											input#InputMaxSqft.form-control.form-max(name="sqftMax", type="number", placeholder="Maximum", ng-model="$root.consumer.buyerSqftMax", ng-required="false")
									.row
										.form-group.col-md-3
											label Price
											input#InputMinPrice.form-control(name="priceMin", type="number", placeholder="Minimum", ng-model="$root.consumer.buyerPriceMin", ng-required="false")
										.col-xs-1
											.range
												| to
										.form-group.col-md-3
											input#InputMaxPrice.form-control.form-max(name="priceMax", type="number", placeholder="Maximum", ng-model="$root.consumer.buyerPriceMax", ng-required="false")
									.row
										.form-group.col-md-4
											label State
												i.fa.fa-question-circle.blue.ml5(data-container="body", data-trigger="hover", data-toggle="popover", data-placement="top", data-content="Please contact us if you need to change this.")
											strong.form-block {{$root.consumer.state}}
										.form-group.col-md-4
											label Cities
											ui-select(multiple="", ng-model="$root.consumer.buyerCities", theme="select2", close-on-select="true", style="min-width: 300px;")
												ui-select-match {{$item}}
												ui-select-choices(repeat="city in $root.cities | filter: $select.search")
													| {{city}}
									//- .row
									//- 	.form-group.col-md-12
									//- 		label(for="InputNeighborhood")
									//- 			| Neighborhood
									//- 		input#InputNeighborhood.form-control(name="neighborhood", type="text", ng-model="$root.consumer.buyerNeighborhood")
									.row
										.form-group.col-md-4
											label How Soon Are You Looking To Move?
											select#timeframe.form-control(name="timeframe", placeholder="Select", ng-model="$root.consumer.timeframe", ng-required="false")
												option(value='') Select
												option(value='Within 1 Month') Within 1 Month
												option(value='1-3 Months') 1-3 Months
												option(value='3-6 Months') 3-6 Months
												option(value='6-12 Months') 6-12 Months
												option(value='Unsure/Just Looking') Unsure/Just Looking
									.row
										center(align="center")
											br
											button.btn.btn-rw.btn-primary(type="submit") Save Details
							.modal-footer
								button.btn.btn-rw.btn-danger(data-toggle="modal", data-target="#cancelBuyerDetails") Discard

				#cancelBuyerDetails.modal.fade(tabindex="-1", role="dialog", aria-labelledby="cancelModal", aria-hidden="true")
					.modal-dialog.modal-md
						.modal-content
							.modal-header
								button.close(type="button", data-dismiss="modal")
									span(aria-hidden="true") &#215;
									span.sr-only Close
								center(align="center")
									h4#cancelModal.modal-title Cancel Home Details
							.modal-body
								form(role="form", name="remarksCancel" ng-submit="cancelBuyerDetails()")
									center(align="center")
										| Are you sure you want to cancel creating/updating your next home details? NOTE: This cannot be undone.
									br
									.row
										center(align="center")
											button.btn.btn-rw.btn-success(data-dismiss="modal") Keep
											button.btn.btn-rw.btn-danger(data-toggle="modal", data-target="#buyerDetailsModal", data-dismiss="modal") Discard

				#buyerProfileModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
					.modal-dialog.modal-lg
						.modal-content
							.modal-header
								button.close(type="button", data-dismiss="modal")
									span(aria-hidden="true") &#215;
									span.sr-only Close
								center(align="center")
									h4#largeModalLabel.modal-title My Profile
							.modal-body
								form(role="form", name="profileForm", ng-submit="editBuyer()")
									.row
										.form-group.col-md-12
											label.col-md-6.control-label Select the following which apply (Ctrl + Click for multiple)
										.col-md-6
											select.form-control(multiple="", ng-model="$root.consumer.profileData")
												option(value="cheese") Cheese
												option(value="tomatoes") Tomatoes
												option(value="mozarella") Mozzarella
												option(value="mushrooms") Mushrooms
												option(value="pepperoni") Pepperoni
												option(value="onions") Onions
									.row
										center(align="center")
											br
											button.btn.btn-rw.btn-primary(type="submit") Save Profile
							.modal-footer
								button.btn.btn-rw.btn-danger(data-toggle="modal", data-target="#cancelBuyerProfile") Discard

				#cancelBuyerProfile.modal.fade(tabindex="-1", role="dialog", aria-labelledby="cancelModal", aria-hidden="true")
					.modal-dialog.modal-md
						.modal-content
							.modal-header
								button.close(type="button", data-dismiss="modal")
									span(aria-hidden="true") &#215;
									span.sr-only Close
								center(align="center")
									h4#cancelModal.modal-title Cancel Profile
							.modal-body
								form(role="form", name="profileCancel" ng-submit="cancelBuyerProfile()")
									center(align="center")
										| Are you sure you want to cancel creating/updating your profile? NOTE: This cannot be undone.
									br
									.row
										center(align="center")
											button.btn.btn-rw.btn-success(data-dismiss="modal") Keep
											button.btn.btn-rw.btn-danger(data-toggle="modal", data-target="#buyerProfileModal", data-dismiss="modal") Discard

				#sellerRemarksModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
					.modal-dialog.modal-lg
						.modal-content
							.modal-header
								button.close(type="button", data-dismiss="modal")
									span(aria-hidden="true") &#215;
									span.sr-only Close
								center(align="center")
									h4#largeModalLabel.modal-title Edit Profile
							.modal-body
								form(role="sellerRemarksform", ng-submit="editSeller()")
									.row
										.form-group.col-xs-12
											label Remarks
											i.fa.fa-question-circle.blue.ml5(data-container="body", data-trigger="hover", data-toggle="popover", data-placement="top", data-content="Additional details about your existing home (i.e. New appliances, walking distance to local schools, etc.)")
											textarea(ckeditor="editorOptions", ng-model="$root.consumer.sellerRemarks")
									center(align="center")
										.row
											br
											button.btn.btn-rw.btn-primary(type="submit") Save Profile
							.modal-footer
								button.btn.btn-rw.btn-danger(data-toggle="modal", data-target="#cancelSellerRemarks") Discard

				#cancelSellerRemarks.modal.fade(tabindex="-1", role="dialog", aria-labelledby="cancelModal", aria-hidden="true")
					.modal-dialog.modal-md
						.modal-content
							.modal-header
								button.close(type="button", data-dismiss="modal")
									span(aria-hidden="true") &#215;
									span.sr-only Close
								center(align="center")
									h4#cancelModal.modal-title Cancel Profile Update
							.modal-body
								form(role="form", name="remarksCancel" ng-submit="cancelSellerRemarks()")
									center(align="center")
										| Are you sure you want to cancel creating/updating your profile? NOTE: This cannot be undone.
									br
									.row
										center(align="center")
											button.btn.btn-rw.btn-success(data-dismiss="modal") Keep
											button.btn.btn-rw.btn-danger(data-toggle="modal", data-target="#sellerRemarksModal", data-dismiss="modal") Discard

				#sellerDetailsModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
					.modal-dialog.modal-lg
						.modal-content
							.modal-header
								button.close(type="button", data-dismiss="modal")
									span(aria-hidden="true") &#215;
									span.sr-only Close
								center(align="center")
									h4#largeModalLabel.modal-title My Home
							.modal-body
								form(role="form", name="detailsForm", ng-submit="editSeller()")
									.row
										.form-group.col-md-6
											label Property Type
											select.form-control(name="propType", placeholder="Select", ng-model="$root.consumer.sellerPropType", ng-required="false")
												option(value='') Select
												option(value='House - Detached') House - Detached
												option(value='House - Attached') House - Attached
												option(value='Condo') Condo
												option(value='Multi-Unit') Multi-Unit
												option(value='Other') Other
										.form-group.col-md-6
											label Property Style
											select.form-control(name="propStyle", placeholder="Select", ng-model="$root.consumer.sellerPropStyle", ng-required="false")
												option(value='') Select
												option(value='2 Story') 2 Story
												option(value='3+ Story') 3+ Story
												option(value='Townhome') Townhome
												option(value='Condo') Condo
												option(value='Other') Other
									.row
										.form-group.col-md-6
											label Bedrooms
											select#beds.form-control(name="beds", placeholder="Select", ng-model="$root.consumer.sellerBeds", ng-required="false")
												option(value='') Select
												option(value='1') 1
												option(value='2') 2
												option(value='3') 3
												option(value='4') 4
												option(value='5') 5
												option(value='6') 6
												option(value='7') 7
												option(value='8') 8
												option(value='9') 9
												option(value='10') 10
										.form-group.col-md-6
											label Bathrooms
											select#baths.form-control(name="baths", placeholder="Select", ng-model="$root.consumer.sellerBaths", ng-required="false")
												option(value='') Select
												option(value='1') 1
												option(value='2') 2
												option(value='3') 3
												option(value='4') 4
												option(value='5') 5
												option(value='6') 6
												option(value='7') 7
												option(value='8') 8
												option(value='9') 9
												option(value='10') 10
									.row
										.form-group.col-md-6
											label Square Feet
											input#InputSqft.form-control(name="sqft", type="number", placeholder="", ng-model="$root.consumer.sellerSqft", ng-required="false")
										.form-group.col-md-6
											label How Soon Are You Looking To Sell?
											select#timeframe.form-control(name="timeframe", placeholder="Select", ng-model="$root.consumer.timeframe", ng-required="false")
												option(value='') Select
												option(value='Within 1 Month') Within 1 Month
												option(value='1-3 Months') 1-3 Months
												option(value='3-6 Months') 3-6 Months
												option(value='6-12 Months') 6-12 Months
												option(value='Unsure/Just Looking') Unsure/Just Looking
									.row
										.form-group.col-md-3
											label Price Range
												i.fa.fa-info-circle.ml5(data-container="body", data-trigger="hover", data-toggle="popover", data-placement="top", data-content="The price range you are interested in selling your home for.")
											input#InputMinPrice.form-control(name="priceMin", type="number", placeholder="Minimum", ng-model="$root.consumer.sellerPriceMin", ng-required="false")
										.col-xs-1
											.range
												| to
										.form-group.col-md-3
											input#InputMaxPrice.form-control.form-max(name="priceMax", type="number", placeholder="Maximum", ng-model="$root.consumer.sellerPriceMax", ng-required="false")
									.row
										.form-group.col-md-4
											label State
												i.fa.fa-question-circle.blue.ml5(data-container="body", data-trigger="hover", data-toggle="popover", data-placement="top", data-content="Please contact us if you need to change this.")
											strong.form-block {{$root.consumer.state}}
										.form-group.col-md-4
											label City
											input#InputCity.form-control(name="city", type="text", ng-model="$root.consumer.sellerCity")
										//- .form-group.col-md-3
										//- 	label(for="Zip")
										//- 		| Zip
										//- 	input#Zip.form-control(name="zip", type="number", ng-model="$root.consumer.sellerZip", ng-required="false")
									.row
										.form-group.col-md-12
											label Neighborhood
											input#InputNeighborhood.form-control(name="neighborhood", type="text", ng-model="$root.consumer.sellerNeighborhood")
									.row
										.form-group.col-md-4
											label Parking Type
											select#parkingType.form-control(name="parkingType", placeholder="Select", ng-model="$root.consumer.sellerParkingType", ng-required="false")
												option(value='') Select
												option(value='None') None
												option(value='Attached') Attached Garage
												option(value='Detached') Detached Garage
												option(value='Car Port') Car Port
												option(value='Designated Street') Designated Street
										.form-group.col-md-4
											label Parking Spaces
											select#parkingSpaces.form-control(name="parkingSpaces", placeholder="Minimum", ng-model="$root.consumer.sellerParkingSpaces", ng-required="false")
												option(value='') Select
												option(value='None') None
												option(value='1') 1
												option(value='2') 2
												option(value='3') 3
												option(value='4') 4
												option(value='5') 5
												option(value='6') 6
												option(value='7') 7
												option(value='8') 8
												option(value='9') 9
												option(value='10+') 10+
									.row
										.form-group.col-md-3
											label HOA Fee
											input#InputhoaFee.form-control(name="hoaFee", type="number", placeholder="Amount", ng-model="$root.consumer.sellerHoaFee", ng-required="false")
										.col-xs-1
											.range
												| per
										.form-group.col-md-3
											select#hoaTerm.form-control.form-max(name="hoaTerm", placeholder="Select", ng-model="$root.consumer.sellerHoaTerm", ng-required="false")
												option(value='') Select
												option(value='Month') Month
												option(value='Quarter') Quarter
												option(value='Year') Year
									.row
										.form-group.col-md-4
											label Basement
											select#basementType.form-control(name="basementType", placeholder="Select", ng-model="$root.consumer.sellerBasementType", ng-required="false")
												option(value='') Select
												option(value='None') None
												option(value='Attached') Attached Garage
												option(value='Detached') Detached Garage
												option(value='Car Port') Car Port
												option(value='Designated Street') Designated Street
										.form-group.col-md-3
											label Year Built
											input#InputyearBuilt.form-control(name="yearBuilt", type="text", ng-model="$root.consumer.sellerYearBuilt", ng-required="false")
											//- ui-select(ng-model="$root.consumer.yearBuilt", theme="select2", ng-disabled="disabled", style="min-width: auto;", title="Year Built")
											//-   ui-select-match(placeholder="Select") {{$select.selected.year}}
											//-   ui-select-choices(repeat="year in years.YEARS | propsFilter: $select.search", position="auto")
											//-     div(ng-bind-html="year")
											//-     small
											//-       | {{year}}
									.row
										center(align="center")
											br
											button.btn.btn-rw.btn-primary(type="submit") Save Details
							.modal-footer
								button.btn.btn-rw.btn-danger(data-toggle="modal", data-target="#cancelSellerDetails") Discard

				#cancelSellerDetails.modal.fade(tabindex="-1", role="dialog", aria-labelledby="cancelModal", aria-hidden="true")
					.modal-dialog.modal-md
						.modal-content
							.modal-header
								button.close(type="button", data-dismiss="modal")
									span(aria-hidden="true") &#215;
									span.sr-only Close
								center(align="center")
									h4#cancelModal.modal-title Cancel Home Details
							.modal-body
								form(role="form", name="remarksCancel" ng-submit="cancelSellerDetails()")
									center(align="center")
										| Are you sure you want to cancel creating/updating your next home details? NOTE: This cannot be undone.
									br
									.row
										center(align="center")
											button.btn.btn-rw.btn-success(data-dismiss="modal") Keep
											button.btn.btn-rw.btn-danger(data-toggle="modal", data-target="#sellerDetailsModal", data-dismiss="modal") Discard

				#consumerLoadingModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="largeModalLabel", aria-hidden="true")
					.modal-dialog.modal-lg
						.modal-content
							.modal-header
								center(align="center")
									h4#largeModalLabel.modal-title Loading
							.modal-body
								center(align="center")
									.row
										.form-group.text-center
											label.col-sm-12.text-center Loading profile details
												i.fa.fa-spinner.fa-pulse.ml5